<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false" [togglebutton]="false">
                    <header>
                        <!--<span class="widget-icon"> <i class="fa {{menuInfos?.menu_icon}}"></i> </span>-->
                        <h2>我的账户</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <article>
                                <div class="m-dealer">
                                    <div class="m-dealer-item" >
                                        可提现金额(元)：<span class="m-dealer-money">{{income?.frozeno_rebate_amount}}</span>
                                    </div>
                                    <div class="m-dealer-item m-dealer-text" >
                                        未入账金额：<span>{{income?.no_entry_income}}</span>
                                    </div>
                                    <div class="m-dealer-item m-dealer-text" >
                                        总金额：<span>{{income?.total_income}}</span>
                                    </div>
                                </div>
                                <div class="navbar navbar-default">
                                    <form  class="navbar-form" role="search"  novalidate >
                                        <div class="btn-group">
                                            <button type="button" [ngClass]="{'btn btn-warning':true,'not-click':editLogId == 0}" (click)="getLogInfo()"><span class="fa-fw fa fa-list-alt mr-5"></span>详情</button>
                                        </div>
                                    </form>
                                    <form  class="navbar-form" novalidate="" role="search">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                全部
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" >全部</a>
                                                <a class="dropdown-item" >按月份查看</a>
                                            </div>
                                        </div>
                                        <div class="btn-group" style="margin-bottom:-16px;">
                                            <input class="form-control" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" [dpDayPicker]="datePickerConfig" [theme]="'dp-material'" [mode]="'month'">
                                        </div>
                                        <div class="btn-group m-deler-money1">
                                            <span class="m-deler-money1-text">收入：{{logList?.total_income}}</span><span>支出：{{logList?.total_pay}}</span>
                                        </div>
                                        <div class="btn-group">
                                            <input type="text" class="form-control" maxlength="15" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}" placeholder="请输入搜索内容">
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn default-btn" (click)="searchKeyword()">搜索</button>
                                        </div>
                                    </form>
                                </div>
                            </article>
                            <div style="padding:0;">
                                <div class="table-scrolling padding0 printonly">
                                    <table class="table table-striped smart-form table-height-20">
                                        <thead>
                                        <tr>
                                            <th>当前状态</th>
                                            <th>订单编号</th>
                                            <th>类目</th>
                                            <th>分类</th>
                                            <th>金额</th>
                                            <th>支付时间</th>
                                            <th>支付方式</th>
                                            <th>入账时间</th>
                                            <th>来源</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let l of logList?.finance_list" (click)="isStatusShow(l.log_id)" [ngClass]="{'table-color':editLogId == l.log_id}">
                                                <td *ngIf="l.frozeno_is_entry == 1">已入账</td>
                                                <td *ngIf="l.frozeno_is_entry == 2">未入账</td>
                                                <td *ngIf="l.frozeno_is_entry == 3">无需入账</td>
                                                <td>{{l.o_order}}</td>
                                                <td>{{l.log_title}}</td>
                                                <td *ngIf="l.frozeno_event_trend == 1">收入</td>
                                                <td *ngIf="l.frozeno_event_trend == 2">支出</td>
                                                <td>
                                                    <span class="m-dealer-bold">
                                                      <span *ngIf="l.frozeno_event_trend == 2">-{{l.frozeno_event_trend_value}}</span>
                                                      <span class="text-danger"  *ngIf="l.frozeno_event_trend == 1">+{{l.frozeno_event_trend_value}}</span>
                                                    </span>
                                                </td>
                                                <td>{{l.frozeno_payment_time}}</td>
                                                <td>账户余额</td>
                                                <td *ngIf="l.frozeno_is_entry != 2"></td>
                                                <td *ngIf="l.frozeno_is_entry == 2">{{l.updated_at}}</td>
                                                <td *ngIf="l.frozeno_seller == 1">商城</td>
                                                <td *ngIf="l.frozeno_seller == 2">erp</td>
                                                <td *ngIf="l.frozeno_seller == 3">工作台</td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="logList?.finance_list_length <= 0">
                                            <tr style="text-align: center;">
                                                <td colspan="9">没有数据。</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- 底部-（分页部分）-->
                            <div class="footer-size flex-justify-end">
                                <ul class="pagination" *ngIf="logList?.page" >
                                    <li *ngFor="let p of logList?.page" class="{{p.class}}">
                                        <a class="page-link" (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                        <a class="page-link" *ngIf="p.method==''">{{p.text}}</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link" disabled>共{{logList.result?.total}}条</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>

<!-- 订单详情 -->
<div class="modal fade" bsModal #lgModal="bs-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">详情</h5>
                <button type="button" class="close" (click)="closeDiv()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-overflow-y">
                <div class="m-order">
                    <div class="row m-orderdetails">
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">当前状态</span>
                            <span *ngIf="logInfo.frozeno_is_entry == 1">已入账</span>
                            <span *ngIf="logInfo.frozeno_is_entry == 2">未入账</span>
                            <span *ngIf="logInfo.frozeno_is_entry == 3">无需入账</span>
                        </div>
                        <div class="col-12 col-md-6"><span class="m-orderdetails-title">订单编号：</span>{{logInfo.o_order}}</div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">类目：</span>{{logInfo.log_title}}</div>
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">分类：</span>
                            <span *ngIf="logInfo.frozeno_event_trend == 1">收入</span>
                            <span *ngIf="logInfo.frozeno_event_trend == 2">支出</span>
                        </div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">金额：</span>
                            <span class="m-dealer-bold">
                                <span *ngIf="logInfo.frozeno_event_trend == 2">-{{logInfo.frozeno_event_trend_value}}</span>
                                <span class="text-danger" *ngIf="logInfo.frozeno_event_trend == 1">+{{logInfo.frozeno_event_trend_value}}</span>
                            </span>
                        </div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">支付时间：</span>{{logInfo.frozeno_payment_time}}</div>
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">支付方式：</span>微信支付</div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">入账时间：</span>
                            <span *ngIf="logInfo.frozeno_is_entry != 2"></span>
                            <span *ngIf="logInfo.frozeno_is_entry == 2">{{logInfo.updated_at}}</span>
                        </div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">来源：</span>
                            <span *ngIf="logInfo.frozeno_seller == 1">商城</span>
                            <span *ngIf="logInfo.frozeno_seller == 2">erp</span>
                            <span *ngIf="logInfo.frozeno_seller == 3">工作台</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeDiv()">关闭</button>
            </div>
        </div>
    </div>
</div>
