<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">

                    <header>

                    </header>

                    <div>
                        <div class="widget-body" >
                            <div class="member-hd-card">
                                <div class="member-hd">
                                    <div class="member-card">
                                        <div class="member-content">
                                            <div class="money-head">
                                                <div class="money-name">
                                                    <div class="name">
                                                        小星星
                                                    </div>
                                                </div>
                                                <div class="money-grade" >
                                                    <!-- 按会员等级进行显示(普通用户)不显示图标、（VIP）、（SVIP）、（钻卡） -->
                                                    <img src="assets/img/mask/drill_golden@2x.png" >
                                                    <img src="assets/img/mask/svip_golden@2x.png" >
                                                    <img src="assets/img/mask/vip_golden@2x.png" >
                                                    <span class="money-grade-span">VIP</span>
                                                </div>
                                            </div>
                                            <div class="money-image">
                                                <img src="assets/img/mask/one_code@2x.png" >
                                            </div>

                                        </div>
                                        <div class="date">
                                            <div class="branch-content">
                                                <div class="date-branch-span">
                                                    <span>2020.06.02</span>
                                                </div>
                                                <div class="date-branch-span">
                                                    <span>2020.06.02</span>
                                                </div>
                                            </div>
                                            <div class="branch-content">
                                                <div class="branch-span">
                                                    <span>会员有效期至</span>
                                                </div>
                                                <div class="branch-span">
                                                    <span>注册日期</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="">
                                        <div class="member-value">
                                            <div class="center-box" >
                                                <span class="box-span">345646</span>
                                                <span>积分</span>
                                            </div>

                                            <div class="center-box" >
                                                <span class="box-span">345646</span>
                                                <span>成长值</span>
                                            </div>

                                            <div class="center-box" >
                                                <span class="box-span">345646</span>
                                                <span>优惠券</span>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="card-bg">
                                    <div class=" mask-con mask-con-show">
                                        <div class="card-one-center">
                                            <div class="card-one-item">
                                                <div class="card-one-img">
                                                    <img src="assets/img/mask/one1.jpg" >
                                                </div>
                                                <div class="card-one-text">
                                                    <span>(01)95012345678903(3102)000400</span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>




                            </div>

                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-integral-tab" data-toggle="tab" href="#nav-integral" role="tab" aria-controls="nav-home" aria-selected="true">积分</a>
                                    <a class="nav-item nav-link" id="nav-grow-tab" data-toggle="tab" href="#nav-grow" role="tab" aria-controls="nav-contact" aria-selected="false">成长值</a>
                                    <a class="nav-item nav-link" id="nav-coupon-tab" data-toggle="tab" href="#nav-coupon" role="tab" aria-controls="nav-contact" aria-selected="false">优惠券</a>
                                    <a class="nav-item nav-link" id="nav-grade-tab" data-toggle="tab" href="#nav-grade" role="tab" aria-controls="nav-contact" aria-selected="false">会员体系介绍</a>
                                </div>
                            </nav>

                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-integral" role="tabpanel" aria-labelledby="nav-integral-tab">
                                    <div class="integral-item">
                                        <div class="integral-box">
                                            <div class="integral">
                                                <div class="integral-current">
                                                    <span class="current1">75787587</span>
                                                    <span>当前积分 </span>
                                                </div>

                                                <div class="integral-current1">
                                                    <span class="" >历史总积分： </span>
                                                    <span class="current1-span" >800 </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="integral-content">
                                            <div class="integral-span" >
                                                <div class="integral-title">
                                                    <span class="span-title">购物返积分</span>
                                                    <span class="span-date">2020-07-14 12:00：05 </span>
                                                </div>
                                                <div class="span-add">
                                                    <div class="span-add-left">
                                                        <span >+</span>
                                                        <span >-</span>
                                                    </div>
                                                    <div > 22</div>
                                        </div>
                                            </div>
                                        </div>
                                        <div class="integral-footer">
                                            <span class="">仅展示近六个月的消费积分</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="nav-grow" role="tabpanel" aria-labelledby="nav-grow-tab">



                                </div>

                                <div class="tab-pane fade" id="nav-invoice" role="tabpanel" aria-labelledby="nav-invoice-tab">

                                    <div class="data-main">
                                        <div class="data-item">
                                            <div class="row data-box">
                                                <div class="col">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-primary"   data-toggle="modal" data-target="#invoiceModal"><span class="fa-fw fa fa-plus  mr-5" ></span>添加发票</button>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="data-flex-sp">
                                                        <div class="data-box-hd">
                                                            <div class="date-name"><span>单位名称</span> <span>15928592794</span>   </div>
                                                            <div class="news-box-span ">
                                                                <span >税号：</span>564651321611111111111131613131651561
                                                            </div>
                                                        </div>
                                                        <div class="date-edit">
                                                            <div class="btn-group">
                                                                <button type="button"  class="btn btn-outline-warning" data-toggle="modal" data-target="#invoiceModal"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>
                                                            </div>
                                                            <div class="btn-group">
                                                                <button type="button"  class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"><span class="fa-fw fa fa-trash-o mr-5"></span>删除</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>