<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa {{menuInfos?.menu_icon}}"></i> </span>
                        <h2>{{menuInfos?.menu_name}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <article>
                                <div class="navbar navbar-default">
                                    <form  class="navbar-form" role="search" [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate >
                                        <div class="btn-group" *ngIf="isPermission(menu_id,'add')">
                                            <button type="button" class="btn btn-primary" (click)="isDemo('/forms/inventory1','0')"><span class="fa-fw fa fa-plus  mr-5"></span>添加</button>
                                        </div>
                                        <div class="btn-group" *ngIf="isPermission(menu_id,'edit')">
                                            <button type="button" [ngClass]="{'btn btn-warning':true,'not-click':editStatusUserOrderId == 0}" (click)="detailUserOrder('edit')"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>
                                        </div>
                                        <div class="btn-group" *ngIf="isPermission(menu_id,'delete')" >
                                            <button type="button" [ngClass]="{'btn btn-danger':true,'not-click':editStatusUserOrderId == 0}" (click)="deleteUserOrder('id')"><span class="fa-fw fa  fa-trash-o mr-5"></span>删除</button>
                                        </div>
                                        <div class="btn-group" *ngIf="isPermission(menu_id,'detail')">
                                            <button type="button" [ngClass]="{'btn btn-success':true,'not-click':editStatusUserOrderId == 0}" (click)="detailUserOrder('detail')"><span class="fa-fw fa fa-list-alt mr-5"></span>详情</button>
                                        </div>
                                        <div class="btn-group" *ngIf="isPermission(menu_id,'delete')">
                                            <button type="button" class="btn btn-secondary" (click)="showAllCheck()" ><span class="fa-fw fa fa-th-large mr-5"></span>批处理</button>
                                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                                <span class="sr-only"></span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" (click)="deleteUserOrder('all')">批量删除</a>
                                            </div>
                                        </div>

                                        <!--<div>-->
                                        <!--<essence-ng2-print-->
                                        <!--[btnText]="'打印'"-->
                                        <!--[btnClass]="{'btn': true, 'btn-success': true}"-->
                                        <!--[printHTML]="print_div"-->
                                        <!--[printStyle]="printStyle"-->
                                        <!--[printCSS]="printCSS"-->
                                        <!--(printComplete)="printComplete()">-->
                                        <!--</essence-ng2-print>-->
                                        <!--</div>-->
                                        <div>
                                            <essence-ng2-print
                                                [mode]="'popup'"
                                                [popTitle]="'用户订单表格打印'"
                                                [btnText]="'打印'"
                                                [btnClass]="{'btn': true, 'btn-warning': true}"
                                                [printHTML]="print_div"
                                                [printStyle]="printStyle"
                                                [printCSS]="printCSS"
                                                (printComplete)="printComplete()">
                                            </essence-ng2-print>
                                        </div>
                                    </form>
                                    <iframe style="display: none;"></iframe>
                                    <form  class="navbar-form" novalidate="" role="search" [formGroup]="formModel" (ngSubmit)="onSubmit()" >

                                        <div class="btn-group">
                                            <input type="text" class="form-control"  maxlength="15" formControlName="keyword"  placeholder="请输入搜索内容">
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn default-btn" >搜索</button>
                                        </div>

                                    </form>

                                </div>
                            </article>
                            <div style="padding:0;">
                                <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-scrolling padding0">
                                    <table class="table table-striped   smart-form table-height-20">
                                        <thead>
                                        <tr>
                                            <td>
                                                <label class="checkbox mt-8">
                                                    <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)">
                                                    <i></i>
                                                </label>
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody *ngIf="orderList">
                                        <tr *ngFor="let sl of orderList?.result?.data">
                                            <td>
                                                <label class="checkbox mt-8">
                                                    <input type="checkbox" value="{{ sl.o_id }}" [checked]="selects[sl.o_id]" (change)="handle($event)">
                                                    <i></i>
                                                </label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <div [ngStyle]="{'padding': '0','z-index': '2','width':width_1,'float':'left'}" class="table-scrolling padding0 printonly">


                                    <table class="table table-striped smart-form table-height-20">
                                        <thead>
                                        <tr >
                                            <th>名称</th>
                                            <th>编号</th>
                                            <th>负责人</th>
                                            <th>金额</th>
                                            <th>状态</th>
                                            <th>日期</th>
                                        </tr>
                                        </thead>
                                        <tbody *ngIf="orderList">
                                        <tr *ngFor="let sl of orderList?.result?.data" (click)="isStatusShow(sl.o_id)" [ngClass]="{'table-color':editStatusUserOrderId == sl.o_id}">
                                            <td>{{ sl.frozeno_order_name }}</td>
                                            <td>{{ sl.o_order }}</td>
                                            <td>{{ sl.c_name }}</td>
                                            <td>{{ sl.frozeno_rate_amount }}</td>
                                            <td>
                                                <span [ngSwitch]="sl.frozeno_order_state">
                                                  <span class="label-normal" *ngSwitchCase="1">未支付</span>
                                                  <span class="label-blue" *ngSwitchCase="2">已支付，待发货</span>
                                                  <span class="label-full" *ngSwitchCase="3">已支付,已发货</span>
                                                  <span class="label-full" *ngSwitchCase="4">交易完成</span>
                                                  <span class="label-full" *ngSwitchCase="5">取消订单</span>
                                                  <span class="label-unknown" *ngSwitchDefault>未知</span>
                                                </span>
                                            </td>
                                            <td>{{ sl.created_at }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- 底部-（分页部分）-->
                            <div class="footer-size flex-justify-end">
                                <ul class="pagination" *ngIf="orderList" >
                                    <li *ngFor="let p of orderList?.result?.page" class="{{p.class}}">
                                        <a class="page-link" (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                        <a class="page-link" *ngIf="p.method==''">{{p.text}}</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a  class="page-link" disabled>共{{orderList.result?.total}}条</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>

    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{orderInfo.result?.frozeno_order_name}}</h4>
                    <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-overflow-y" >
                                <P class="alert alert-info">基本信息</P>
                                <table class="table table-striped table-forum">
                                    <tbody>
                                    <tr>
                                        <td class="width-120"></td>
                                        <td></td>
                                        <td class="width-120">名称:</td>
                                        <td >{{orderInfo.result?.frozeno_order_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="width-120">编码</td>
                                        <td>{{orderInfo.result?.o_order}}</td>
                                        <td class="width-120">卡券抵消金额</td>
                                        <td>{{orderInfo.result?.ticket_amount}}</td>
                                    </tr>
                                    <tr >
                                        <td class="width-120">商品信息</td>
                                        <td colspan="3">
                                            <p *ngFor="let p of orderInfo?.result?.products" >
                                                <span>{{p.frozeno_product_name}}</span>
                                                <span>{{p.product_amount}}</span> ( X<span>{{p.product_count}}</span>)
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="width-120">仓库状态:</td>
                                        <td class="" [ngSwitch]="orderInfo?.result?.frozeno_order_state">
                                          <span class="label-normal" *ngSwitchCase="1">未支付</span>
                                          <span class="label-blue" *ngSwitchCase="2">已支付，待发货</span>
                                          <span class="label-full" *ngSwitchCase="3">已支付,已发货</span>
                                          <span class="label-full" *ngSwitchCase="4">交易完成</span>
                                          <span class="label-full" *ngSwitchCase="5">取消订单</span>
                                          <span class="label-unknown" *ngSwitchDefault>未知</span>
                                        </td>
                                        <td class="width-120">负责人:</td>
                                        <td class="">{{orderInfo.result?.c_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="width-120">积分：</td>
                                        <td class="" colspan="3">{{orderInfo.result?.frozeno_point}}</td>
                                    </tr>
                                    <tr>
                                        <td class="width-120">价格：</td>
                                        <td class="" colspan="3" >{{orderInfo.result?.frozeno_rate_amount}}</td>
                                    </tr>
                                    <tr>
                                        <td class="width-120">收件人</td>
                                        <td>{{orderInfo.result?.name}}</td>
                                        <td class="width-120">收件人手机号</td>
                                        <td>{{orderInfo.result?.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td class="width-120">收件人地址：</td>
                                        <td class="" colspan="3" >{{orderInfo.result?.province}} {{orderInfo.result?.city}} {{orderInfo.result?.area}} {{orderInfo.result?.address}}</td>
                                    </tr>
                                    <tr *ngIf="orderInfo.result?.frozeno_order_state == 2 && !orderInfo.result?.frozeno_express_code">
                                        <td class="" colspan="4" >
                                            顺丰快递单号：<input type="text" placeholder="请填写快递单号" name="express_code" [(ngModel)]="express_code" [ngModelOptions]="{standalone: true}"/>
                                            <button (click)="sendProduct()">发货</button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="orderInfo.result?.frozeno_express_code">
                                        <td class="" colspan="4" >
                                            顺丰快递(单号：{{orderInfo.result?.frozeno_express_code}})
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="lgModal.hide()">
                        返回
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div  style="display: none">

    <div class="receipt" #print_div>
        <div class="rt-main rt-flex">


            <div class="rt-main-doc"  style="padding-right:60px;">
                <div class="rt-item-hd">
                    <div class="rt-item-hd-img rt-center">
                        <img src="assets/img/frozen-black.png" class="rt-mg">
                    </div>
                    <div class="rt-center rt-font-lg">深圳冻龄智美生物科技有限公司</div>
                    <div class="rt-center">黑科技纯钛金属表皮电子系统，开启科技焕肤之旅。
                    </div>
                </div>
                <div class="rt-item">
                    <div class="rt-left" style="width:50%;padding-right:20px;" >
                        <div class="" style="font-weight: bold;">配送地址</div>
                        <div class="">姓名：深圳市</div>
                        <div class="">公司名称：</div>
                        <div class="">省/市/自治区：广东省深圳市</div>
                        <div class="">街道地址：福田区莲花街道康欣社区北环大道7043号青海大厦3203</div>
                        <div class="">邮政编码:518000</div>
                        <div class="">电话：18215569754</div>

                    </div>
                    <div class="rt-right" style="width:50%;">
                        <div class="rt-one">
                            <img src="assets/img/one1.jpg" class="rt-one-mg">
                        </div>

                        <div class="">发票编号：6454566666666454645</div>
                        <div class="">日期：2019年04月22日</div>
                        <div class="">客户ID：ID</div>

                    </div>
                </div>


                <div class="rt-table">
                    <div class="rt-table-hd">
                        <div class="">出货仓库：</div>
                        <div class="">配送方式：</div>
                        <div class="">付款方式：</div>
                    </div>
                    <table class="rt-gridtable">
                        <tr >
                            <th >No.</th><th >产品编号</th><th >名称</th><th >数量</th><th >单价</th><th >折扣</th><th >折扣价</th><th >金额</th>
                        </tr>
                        <tr>
                            <td>1</td><td>B154859211949</td><td>无创水光</td><td>3</td><td>3,888.00</td><td>1,000.00</td><td>2,888.00</td><td>8,664.00</td>
                        </tr>
                        <tr>
                            <td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                            <td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                            <td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                            <td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                            <td class="ft-left" colspan="3">合计：捌仟陆佰陆拾肆元整</td><td>3</td><td></td><td></td><td></td><td>8,664.00</td>
                        </tr>
                    </table>
                    <div class="rt-table-right" style="padding: 10px 0 10px;">收据</div>
                    <div class="rt-center rt-ft">谢谢惠顾！</div>
                </div>

            </div>

            <div class="rt-main-doc"  style="padding-left:60px;">
                <div class="rt-item-hd">
                    <div class="rt-item-hd-img rt-center">
                        <img src="assets/img/frozen-black.png" class="rt-mg">
                    </div>
                    <div class="rt-center rt-font-lg">深圳冻龄智美生物科技有限公司</div>
                    <div class="rt-center">黑科技纯钛金属表皮电子系统，开启科技焕肤之旅。
                    </div>
                </div>
                <div class="rt-item">
                    <div class="rt-left" style="width:50%;">
                        <div class="" style="font-weight: bold;">配送地址</div>
                        <div class="">姓名：深圳市</div>
                        <div class="">公司名称：</div>
                        <div class="">省/市/自治区：广东省深圳市</div>
                        <div class="">街道地址：福田区莲花街道康欣社区北环大道7043号青海大厦3203</div>
                        <div class="">邮政编码:518000</div>
                        <div class="">电话：18215569754</div>

                    </div>
                    <div class="rt-right" style="width:50%;">
                        <div class="rt-one">
                            <img src="assets/img/one1.jpg" class="rt-one-mg">
                        </div>

                        <div class="">发票编号：6454566666666454645</div>
                        <div class="">日期：2019年04月22日</div>
                        <div class="">客户ID：ID</div>

                    </div>
                </div>


                <div class="rt-table">
                    <div class="rt-table-hd">
                        <div class="">出货仓库：</div>
                        <div class="">配送方式：</div>
                        <div class="">付款方式：</div>
                    </div>
                    <table class="rt-gridtable">
                        <tr >
                            <th >No.</th><th >产品编号</th><th >名称</th><th >数量</th><th >单价</th><th >折扣</th><th >折扣价</th><th >金额</th>
                        </tr>
                        <tr>
                            <td>1</td><td>B154859211949</td><td>无创水光</td><td>3</td><td>3,888.00</td><td>1,000.00</td><td>2,888.00</td><td>8,664.00</td>
                        </tr>
                        <tr>
                            <td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                            <td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                            <td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                            <td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                            <td class="ft-left" colspan="3">合计：捌仟陆佰陆拾肆元整</td><td>3</td><td></td><td></td><td></td><td>8,664.00</td>
                        </tr>
                    </table>
                    <div class="rt-table-right" style="padding: 10px 0 10px;">收据</div>
                    <div class="rt-center rt-ft">谢谢惠顾！</div>
                </div>

            </div>




        </div>

    </div>

</div>
