<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa {{menuInfos?.menu_icon}}"></i> </span>
                        <h2>{{menuInfos?.menu_name}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <article>
                                <div class="navbar navbar-default">
                                    <!--详情一直都显示，打印、备货（在订单已发货前一直显示，订单发货后显示灰色）、发货（在用户收货前显示，用户收货后显示灰色），添加删除不显示。修改需管理才显示（可以修改订单状态-针对退换货的，功能先不做，修改也可以先不显示）。作废管理员有权限（未支付、待备货和待发货的订单可以作废，状态显示交易失败）-->
                                    <form  class="navbar-form" role="search" [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate >
                                        <!--<div class="btn-group" *ngIf="isPermission(menu_id,'add')">-->
                                            <!--<button type="button" class="btn btn-primary" (click)="isDemo('/forms/inventory1','0')"><span class="fa-fw fa fa-plus  mr-5"></span>添加</button>-->
                                        <!--</div>-->
                                        <!--<div class="btn-group" *ngIf="isPermission(menu_id,'edit')">-->
                                            <!--<button type="button" [ngClass]="{'btn btn-warning':true,'not-click':editStatusUserOrderId == 0}" (click)="detailUserOrder('edit')"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>-->
                                        <!--</div>-->
                                        <!--<div class="btn-group" *ngIf="isPermission(menu_id,'delete')" >-->
                                        <!--<button type="button" [ngClass]="{'btn btn-danger':true,'not-click':editStatusUserOrderId == 0}" (click)="deleteUserOrder('id')"><span class="fa-fw fa  fa-trash-o mr-5"></span>删除</button>-->
                                        <!--</div>-->
                                        <div class="btn-group">
                                            <button type="button" [ngClass]="{'btn btn-warning':true,'not-click':editStatusUserOrderId == 0 || !(editOrderState == 2)}" (click)="choiceOrder()">备货</button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" [ngClass]="{'btn btn-warning':true,'not-click':editStatusUserOrderId == 0 || !(editOrderState == 2 && editPrepareState == 2)}" (click)="sendOrder(1)">发货</button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" [ngClass]="{'btn btn-danger':true,'not-click':editStatusUserOrderId == 0 || (editOrderState == 1 ||editOrderState == 5 || editOrderState == 7 || editOrderState == 11 || editOrderState == 12 || editOrderState == 13)}" (click)="showVerify()"><span class="fa-fw fa fa-stop mr-5 "></span>审核</button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" [ngClass]="{'btn btn-danger':true,'not-click':editStatusUserOrderId == 0 || !(editOrderState == 1 || editOrderState == 2)}" (click)="cancelOrder()">作废</button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" [ngClass]="{'btn btn-success':true,'not-click':editStatusUserOrderId == 0}" (click)="detailUserOrder('detail')"><span class="fa-fw fa fa-list-alt mr-5"></span>详情</button>
                                        </div>
                                        <div style="display: inline-block;">
                                            <button type="button" [ngClass]="{'btn btn-warning':true,'not-click':editStatusUserOrderId == 0}" (click)="beforePrint()">打印</button>
                                        </div>
                                    </form>
                                    <iframe style="display: none;"></iframe>
                                    <form  class="navbar-form" novalidate="" role="search" [formGroup]="formModel" (ngSubmit)="onSubmit()" >
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{stateShow}}
                                            </button>
                                            <!--未支付、待备货、待发货、待收货、退款中、交易成功、交易失败、已退款、部分退款、换货中、维修中、补寄、已处理-->
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" (click)="getUserOrderList('1','all','全部')">全部</a>
                                                <a class="dropdown-item" (click)="getUserOrderList('1','1','未支付')">未支付</a>
                                                <a class="dropdown-item" (click)="getUserOrderList('1','21','待备货')">待备货</a>
                                                <a class="dropdown-item" (click)="getUserOrderList('1','2','待发货')">待发货</a>
                                                <a class="dropdown-item" (click)="getUserOrderList('1','3','待收货')">待收货</a>
                                                <a class="dropdown-item" (click)="getUserOrderList('1','6','退款中')">退款中</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" (click)="getUserOrderList('1','4','交易成功')">交易成功</a>
                                                <a class="dropdown-item" (click)="getUserOrderList('1','5,6,7','交易失败')">交易失败</a>
                                                <a class="dropdown-item" (click)="getUserOrderList('1','7','已退款')">已退款</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <input type="text" class="form-control" maxlength="15" formControlName="keyword"  placeholder="请输入搜索内容">
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn default-btn" >搜索</button>
                                        </div>
                                    </form>
                                </div>
                            </article>
                            <div style="padding:0;">
                                <div class="table-scrolling padding0 printonly">
                                    <table class="table table-striped smart-form table-height-20">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>订单编号</th>
                                            <th>来源</th>
                                            <th>购买人</th>
                                            <!--<th>总金额</th>-->
                                            <th>实付款</th>
                                            <th>订单状态</th>
                                            <th>应返佣金</th>
                                            <th>返佣状态</th>
                                            <th>下单时间</th>
                                        </tr>
                                        </thead>
                                        <tbody *ngIf="orderList?.result">
                                        <tr *ngFor="let sl of orderList?.result?.data;let ind = index;" (click)="isStatusShow(sl.o_id,sl.frozeno_order_state,sl.frozeno_prepare_state)" [ngClass]="{'table-color':editStatusUserOrderId == sl.o_id}">
                                            <td>{{(ind+1)}}</td>
                                            <td *ngIf="sl.o_is_complete == 3" style="color: blue;">{{ sl.o_order }}</td>
                                            <td *ngIf="sl.o_is_complete != 3">{{ sl.o_order }}</td>
                                            <td>
                                                <span [ngSwitch]="sl.frozeno_seller">
                                                  <span class="label-normal" *ngSwitchCase="1">商城小程序</span>
                                                  <span class="label-blue" *ngSwitchCase="2">经销商管理平台</span>
                                                  <span class="label-blue" *ngSwitchCase="3">工作台小程序</span>
                                                </span>
                                            </td>
                                            <td>{{sl.c_name}}&nbsp;&nbsp;{{sl.c_phone}}</td>
                                            <!--<td></td>-->
                                            <td>{{ sl.frozeno_order_amount }}</td>
                                            <td>
                                                <!--管理员可取消——未支付、待备货、待发货销售单里面的订单审核通过自动生成用户订单
                                                状态：未支付、待备货、待发货、待收货、退款中、交易成功、交易失败、已退款
                                                物流开通后还需添加状态：已签收
                                                在待发货状态下显示：打印、备货、发货。其他状态不显示。
                                                -->
                                                <span [ngSwitch]="sl.frozeno_order_state">
                                                  <span class="label-normal" *ngSwitchCase="1">未支付</span>
                                                  <span class="label-blue" *ngSwitchCase="2">
                                                     <span *ngIf="sl.frozeno_prepare_state == 1">
                                                      待备货</span>
                                                     <span style="color: blue" *ngIf="sl.frozeno_prepare_state == 2">
                                                      待发货</span>
                                                  </span>
                                                  <span class="label-full" *ngSwitchCase="3">待收货</span>
                                                  <span class="label-full" *ngSwitchCase="4">交易成功</span>
                                                  <span class="label-full" *ngSwitchCase="5">取消订单</span>
                                                  <span class="label-full" *ngSwitchCase="6">取消订单并退款</span>
                                                  <span class="label-full" *ngSwitchCase="7">已退款</span>
                                                  <span class="label-unknown" *ngSwitchDefault>未知</span>
                                                </span>
                                            </td>
                                            <td>{{ sl.commission_total_amount? sl.commission_total_amount:'0.00' }}</td>
                                            <td>
                                                <span>
                                                    <span class="label-normal" *ngIf="! sl.is_entry">未结算</span>
                                                    <span class="label-full" *ngIf="sl.is_entry">已结算</span>
                                                </span>
                                            </td>
                                            <td>{{ sl.created_at }}</td>
                                        </tr>
                                        </tbody>
                                        <tbody *ngIf="! orderList?.result?.data">
                                            <tr style="text-align: center;">
                                                <td colspan="11">没有数据。</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- 底部-（分页部分）-->
                            <div class="footer-size flex-justify-end">
                                <ul class="pagination" *ngIf="orderList?.page" >
                                    <li *ngFor="let p of orderList?.page" class="{{p.class}}">
                                        <a class="page-link" (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                        <a class="page-link" *ngIf="p.method==''">{{p.text}}</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link" disabled>共{{orderList.result?.total}}条</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>

    <!--备货-->
    <div class="modal fade bd-example-modal-xl" bsModal #choiceExampleModal="bs-modal" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="choiceexampleModalLabel">备货（订单编号：{{orderInfo.result?.o_order}}）</h5>
                    <button type="button" class="close" (click)="closeChoice()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-overflow-y">
                    <div class="m-order">
                        <div class="alert alert-secondary" role="alert">
                            配送信息
                        </div>
                        <div class="row m-orderdetails">
                            <div class="col-6 col-md-4"><span class="m-orderdetails-title">姓名：</span>{{orderInfo.result?.name}}</div>
                            <div class="col-6 col-md-4"><span class="m-orderdetails-title">手机号：</span>{{orderInfo.result?.phone}}</div>
                            <div class="col-12 col-md-4"><span class="m-orderdetails-title">邮编：</span>{{orderInfo.result?.zip}}</div>
                        </div>
                        <div class="row m-orderdetails">
                            <div class="col-12 col-md-8"><span class="m-orderdetails-title">详细地址：</span>{{orderInfo.result?.province}}{{orderInfo.result?.city}}{{orderInfo.result?.area}}{{orderInfo.result?.address}}</div>
                        </div>
                    </div>
                    <div class="m-order">
                        <!--<form class="navbar-form" role="search">-->
                            <!--<div class="btn-group"><button type="button" class="btn btn-danger" (click)="clearStock()">清空备货</button></div>-->
                        <!--</form>-->
                        <table class="table table-striped table-forum">
                            <thead>
                                <tr>
                                    <th scope="col">名称</th>
                                    <th>购买数量</th>
                                    <!--<th>需备货数量</th>-->
                                    <!--<th>备货数量</th>-->
                                    <!--<th>备货扫码框</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pd of orderInfo?.result?.products;let ind = index;">
                                    <td>{{pd.category_desc}}</td>
                                    <td>{{pd.product_count}}</td>
                                    <!--<td>{{pd.beihuoTotalCount}}</td>-->
                                    <!--<td *ngIf="pd.frozeno_is_gift != 1 || pd.category_id == dryCategoryId">-->
                                        <!--<input type="text" class="form-control" [(ngModel)]="pd.choice_count" value="{{pd.choice_count}}" (change)="sumPCount(ind)" [ngStyle]="{'border-color': (((pd.beihuoTotalCount != pd.choice_count && pd.product_code != '')|| pd.border_color=='red') ? 'red':'')}" [ngModelOptions]="{standalone: true}" placeholder="备货个数">-->
                                    <!--</td>-->
                                    <!--<td *ngIf="pd.frozeno_is_gift == 1 && pd.category_id != dryCategoryId">0</td>-->
                                    <!--<td *ngIf="pd.frozeno_is_gift != 1 || pd.category_id == dryCategoryId">-->
                                        <!--<input type="text" class="form-control" [(ngModel)]="pd.product_code" value="{{pd.product_code}}" (change)="sumPCount(ind)" [ngStyle]="{'border-color': (((pd.beihuoTotalCount != pd.choice_count && pd.product_code != '')|| pd.border_color=='red') ? 'red':'')}" [ngModelOptions]="{standalone: true}" placeholder="请扫码或输入">-->
                                    <!--</td>-->
                                    <!--<td *ngIf="pd.frozeno_is_gift == 1 && pd.category_id != dryCategoryId">0</td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" (click)="beforePrint()">打印订单</button>
                    <button type="button" class="btn btn-secondary" (click)="closeChoice()">取消</button>
                    <!--*ngIf="isSucc"-->
                    <button type="button" class="btn btn-warning" (click)="stockEntry(1)">保存</button>
                    <!--<button type="button" class="btn btn-secondary" *ngIf="!isSucc">保存</button>-->
                    <!--待备货状态的订单-->
                    <!--*ngIf="isSucc"-->
                    <button type="button" class="btn btn-warning" (click)="stockEntry(2)">保存显示下一条</button>
                    <!--<button type="button" class="btn btn-secondary" *ngIf="!isSucc">保存显示下一条</button>-->
                </div>
            </div>
        </div>
    </div>

    <!--发货-->
    <div class="modal fade bd-example-modal-xl"  bsModal #sendExampleModal="bs-modal" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendexampleModalLabel">发货（订单编号：{{orderInfo?.result?.o_order}}）</h5>
                    <button type="button" class="close" (click)="closeExpress()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-overflow-y">
                    <div class="m-order">
                        <div class="alert alert-secondary" role="alert">
                            配送信息
                        </div>
                        <div class="row m-orderdetails">
                            <div class="col-6 col-md-4"><span class="m-orderdetails-title">姓名：</span>{{orderInfo?.result?.name}}</div>
                            <div class="col-6 col-md-4 "><span class="m-orderdetails-title">手机号：</span>{{orderInfo?.result?.phone}}</div>
                            <div class="col-12 col-md-4"><span class="m-orderdetails-title">邮编：</span>{{orderInfo?.result?.zip}}</div>
                        </div>
                        <div class="row m-orderdetails">
                            <div class="col-12 col-md-8"><span class="m-orderdetails-title">详细地址：</span>{{orderInfo?.result?.province}}{{orderInfo?.result?.city}}{{orderInfo?.result?.area}}{{orderInfo?.result?.address}}</div>
                        </div>
                        <div class="m-order">
                            <div class="alert alert-secondary" role="alert">
                                物流信息
                            </div>
                            <div class="row m-orderdetails">
                                <div class="col-6 col-md-6"><span class="m-orderdetails-title">物流公司：</span>{{orderInfo?.result?.frozeno_express_company}}</div>
                                <div class="col-6 col-md-6"><span class="m-orderdetails-title">快递单号：</span>{{orderInfo?.result?.frozeno_express_code}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="m-order">
                        <!--表格默认最少显示5行-->
                        <div class="bg-light" style="padding:10px;">
                            <form  class="navbar-form" role="search">
                                <div class="btn-group">
                                    <input type="text" class="form-control" style="width: 300px"  placeholder="请输入物流公司" [ngModelOptions]="{standalone: true}" name="expressCompany" [(ngModel)]="expressCompany">
                                </div>
                                <div class="btn-group">
                                    <input type="text" class="form-control" style="width: 300px" [ngModelOptions]="{standalone: true}" name="expressCode" [(ngModel)]="expressCode" placeholder="请扫码或输入快递单号">
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" (click)="expressCodeInput()">录入</button>
                                </div>
                            </form>
                        </div>
                        <!--<table class="table table-striped table-forum">-->
                            <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th scope="col">名称</th>-->
                                    <!--<th scope="col">购买数量</th>-->
                                <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                                <!--<tr *ngFor="let pd of orderInfo?.result?.products;let ind = index;">-->
                                    <!--<td>{{pd.category_desc}}</td>-->
                                    <!--<td>{{pd.product_count}}</td>-->
                                    <!---->
                                <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->

                        <form class="navbar-form" role="search">
                            <div class="btn-group"><button type="button" class="btn btn-danger" (click)="clearStock()">清空备货</button></div>
                        </form>
                        <table class="table table-striped table-forum">
                            <thead>
                            <tr>
                                <th scope="col">名称</th>
                                <th>购买数量</th>
                                <th>需备货数量</th>
                                <th>备货数量</th>
                                <th>备货扫码框</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let pd of orderInfo?.result?.products;let ind = index;">
                                <td>{{pd.category_desc}}</td>
                                <td>{{pd.product_count}}</td>
                                <td>{{pd.beihuoTotalCount}}</td>
                                <td *ngIf="pd.frozeno_is_gift != 1 || pd.category_id == dryCategoryId">{{pd.choice_count}}</td>
                                <td *ngIf="pd.frozeno_is_gift == 1 && pd.category_id != dryCategoryId">0</td>
                                <td *ngIf="pd.frozeno_is_gift != 1 || pd.category_id == dryCategoryId">
                                <input type="text" class="form-control" [(ngModel)]="pd.product_code" value="{{pd.product_code}}" (change)="sumPCount(ind)" [ngStyle]="{'border-color': (((pd.beihuoTotalCount != pd.choice_count && pd.product_code != '')|| pd.border_color=='red') ? 'red':'')}" [ngModelOptions]="{standalone: true}" placeholder="请扫码或输入">
                                </td>
                                <td *ngIf="pd.frozeno_is_gift == 1 && pd.category_id != dryCategoryId">0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeExpress()">取消</button>
                    <!--<button type="button" class="btn btn-warning" (click)="sendOrder(2)">保存</button>-->
                    <!--待发货状态已备货的订单-->
                    <!--<button type="button" class="btn btn-warning" (click)="sendOrder(3)">保存并显示下一条</button>-->

                    <button type="button" class="btn btn-warning" *ngIf="isSucc" (click)="sendOrder(2)">保存</button>
                    <button type="button" class="btn btn-secondary" *ngIf="!isSucc">保存</button>
                    <button type="button" class="btn btn-warning" *ngIf="isSucc" (click)="sendOrder(3)">保存并显示下一条</button>
                    <button type="button" class="btn btn-secondary" *ngIf="!isSucc">保存并显示下一条</button>
                </div>
            </div>
        </div>
    </div>
    <!--用户订单详情-->
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{orderInfo.result?.o_order}}</h4>
                    <!--<h4 class="modal-title">{{orderInfo.result?.frozeno_order_name}}</h4>-->
                    <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-overflow-y">
                    <div class="m-order">
                        <div class="alert alert-secondary" role="alert">
                            基本信息
                        </div>
                        <div class="row m-orderdetails">
                            <div class="col-6 col-md-4"><span class="m-orderdetails-title">订单编号：</span>{{orderInfo?.result?.o_order}}</div>
                            <div class="col-6 col-md-4"><span class="m-orderdetails-title">来源：</span>
                                <span *ngIf="orderInfo?.result?.frozeno_seller == 1">商城小程序</span>
                                <span *ngIf="orderInfo?.result?.frozeno_seller == 2">商户管理平台</span>
                                <span *ngIf="orderInfo?.result?.frozeno_seller == 3">工作台小程序</span>
                            </div>
                            <div class="col-6 col-md-4"><span class="m-orderdetails-title">购买人：</span>{{orderInfo?.result?.c_name}}&nbsp;&nbsp;{{orderInfo?.result?.c_phone}}</div>
                        </div>
                        <div class="row m-orderdetails">
                            <div class="col-6 col-md-4"><span class="m-orderdetails-title">销售方：</span>冻龄智美</div>
                            <div class="col-6 col-md-4"><span class="m-orderdetails-title">负责人：</span>谷子健</div>
                        </div>
                </div>
                <div class="m-order">
                    <div class="alert alert-secondary" role="alert">
                        订单信息
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-12 "><span class="m-orderdetails-title">商品明细：</span>{{orderInfo?.result?.order_name}}</div>
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-12 ">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">查看详情</button>
                        </div>
                    </div>
                    <div class="m-order">
                        <div class="collapse" id="collapseExample">
                            <!--商品明细-->
                            <!--</div>-->
                            <!--表格默认最少显示5行-->
                            <table class="table table-striped table-forum">
                                <thead>
                                <tr>
                                    <th scope="col">序号</th>
                                    <th scope="col">名称</th>
                                    <th scope="col">数量</th>
                                    <th scope="col">单价</th>
                                    <th scope="col">折扣</th>
                                    <th scope="col">折扣价</th>
                                    <th scope="col">金额</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr *ngFor="let pd of orderInfo?.result?.products;let ind = index;">
                                    <td>{{(ind+1)}}</td>
                                    <td>{{pd.category_desc}}</td>
                                    <td>{{pd.product_count}}</td>
                                    <td>{{pd.product_before_amount}}</td>
                                    <td>{{pd.frozeno_customer_discount?pd.frozeno_customer_discount:0}}折</td>
                                    <td *ngIf="pd.frozeno_customer_discount">{{pd.product_before_amount*pd.frozeno_customer_discount}}</td>
                                    <td *ngIf="!pd.frozeno_customer_discount">{{pd.product_before_amount}}</td>
                                    <td>{{pd.product_amount}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{orderInfo?.result?.totalAmount}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">商品金额（{{orderInfo?.result?.totalCount}}件）：</span>¥{{orderInfo?.result?.totalAmount}}</div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">运费：</span>¥ 0.00</div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">会员优惠：</span>¥ 0.00</div>
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">优惠券：</span>¥ {{orderInfo?.result?.ticket_amount?orderInfo?.result?.ticket_amount:0}}</div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">智美豆抵扣：</span>¥ {{orderInfo?.result?.frozeno_point}}</div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">实付款：</span>¥ {{orderInfo?.result?.frozeno_order_amount}}</div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">支付方式：</span>微信支付</div>
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">状态：</span>
                            <span [ngSwitch]="orderInfo?.result?.frozeno_order_state">
                                <span class="label-normal" *ngSwitchCase="1">未支付</span>
                                <span class="label-normal" *ngSwitchCase="2">
                                    <span *ngIf="orderInfo?.result?.frozeno_prepare_state == 1">待备货</span>
                                    <span *ngIf="orderInfo?.result?.frozeno_prepare_state == 2">待发货</span>
                                </span>
                                <span class="label-normal" *ngSwitchCase="3" >待收货</span>
                                <span class="label-full" *ngSwitchCase="6">退款中</span>
                                <span class="label-normal" *ngSwitchCase="4">交易成功</span>
                                <span class="label-full" *ngSwitchCase="5">交易失败</span>
                                <span class="label-full" *ngSwitchCase="7">已退款</span>
                                <span class="label-unknown" *ngSwitchDefault>未知</span>
                            </span>
                        </div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">下单时间：</span>{{orderInfo?.result?.created_at}}</div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">发货时间：</span>{{orderInfo?.result?.frozeno_send_time}}</div>
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">备货人：</span>黄浩能</div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">发货人：</span>{{orderInfo?.result?.frozeno_express_name}}</div>
                    </div>
                </div>
                <div class="m-order">
                    <div class="alert alert-secondary" role="alert">
                        物流信息
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">物流公司：</span>{{orderInfo?.result?.frozeno_express_company}}</div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">快递单号：</span>{{orderInfo?.result?.frozeno_express_code}}</div>
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">出货仓库：</span></div>
                    </div>
                </div>
                <div class="m-order" *ngIf="orderInfo?.result?.name">
                    <div class="alert alert-secondary" role="alert">
                        配送信息
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">姓名：</span>{{orderInfo?.result?.name}}</div>
                        <div class="col-6 col-md-4 "><span class="m-orderdetails-title">手机号：</span>{{orderInfo?.result?.phone}}</div>
                        <div class="col-12 col-md-4"><span class="m-orderdetails-title">邮编：</span>{{orderInfo?.result?.zip}}</div>
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-12 col-md-8"><span class="m-orderdetails-title">详细地址：</span>{{orderInfo?.result?.province}}{{orderInfo?.result?.city}}{{orderInfo?.result?.area}}{{orderInfo?.result?.address}}</div>
                    </div>
                </div>
                    <!--需要开发票时显示-->
                <div class="m-order" *ngIf="orderInfo?.result?.invoice?.username">
                    <div class="alert alert-secondary" role="alert">
                        发票信息
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-6 col-md-6"><span class="m-orderdetails-title">名称：</span>{{orderInfo?.result?.invoice?.username}}</div>
                        <div class="col-6 col-md-6 "><span class="m-orderdetails-title">电话号码：</span>{{orderInfo?.result?.invoice?.phone}}</div>
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-12 col-md-6 "><span class="m-orderdetails-title">税号：</span>{{orderInfo?.result?.invoice?.tax_number}}</div>
                        <div class="col-12 col-md-6"><span class="m-orderdetails-title">单位地址：</span>{{orderInfo?.result?.invoice?.address}}</div>
                    </div>
                    <div class="row m-orderdetails">
                        <div class="col-12 col-md-6 "><span class="m-orderdetails-title">开户银行：</span>{{orderInfo?.result?.invoice?.bank}}</div>
                        <div class="col-12 col-md-6"><span class="m-orderdetails-title">银行账户：</span>{{orderInfo?.result?.invoice?.bank_account}}</div>
                    </div>
                </div>

                <div class="m-order" *ngIf="orderInfo?.result?.harvest_growth || orderInfo?.result?.harvest_ticket?.ticket_amount">
                    <div class="alert alert-secondary" role="alert">
                        财务信息
                    </div>
                    <table class="table table-striped table-forum">
                        <thead>
                        <tr>
                            <th scope="col">用户名</th>
                            <th scope="col">会员等级</th>
                            <!--<th scope="col">成长值</th>-->
                            <th scope="col">优惠券</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{orderInfo?.result?.c_name}}</td>
                                <td>{{orderInfo?.result?.level_name}}</td>
                                <!--<td>{{orderInfo?.result?.harvest_growth}}</td>-->
                                <td>{{orderInfo?.result?.harvest_ticket?.ticket_amount}}</td>
                            <tr>
                        </tbody>
                    </table>
                </div>

                <div class="m-order" *ngIf="orderInfo?.result?.commission && orderInfo?.result?.commission.length > 0">
                    <div class="alert alert-secondary" role="alert">
                        其他财务信息
                    </div>
                    <!--佣金可提现总金额：订单金额-导入仪-运费-税费 -->
                    <!--</div>-->
                    <!--表格默认最少显示5行-->
                    <table class="table table-striped table-forum">
                        <thead>
                        <tr>
                            <th scope="col">用户名</th>
                            <th scope="col">会员等级</th>
                            <th scope="col">等级</th>
                            <th scope="col">可结算总金额</th>
                            <th scope="col">佣金（智美豆）</th>
                            <!--<th scope="col">成长值</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let cp of orderInfo?.result?.commission;let ind=index;">
                            <td>{{cp.c_name}}</td>
                            <td>{{cp.level_name}}</td>
                            <td>{{ind+1}}级</td>
                            <td>{{orderInfo?.result?.frozeno_order_amount}}</td>
                            <td><span *ngIf="cp.frozeno_event == 3 || cp.frozeno_event == 5">{{cp.frozeno_event_trend_value}}({{cp.frozeno_is_entry == 1 ? '已结算' : '未结算'}})</span>
                                <span *ngIf="cp.frozeno_event != 3 && cp.frozeno_event != 5">0</span></td>
                            <!--<td><span *ngIf="cp.frozeno_event == 2">{{cp.frozeno_event_trend_value}}</span>-->
                                <!--<span *ngIf="cp.frozeno_event != 2">0</span></td>-->
                        <tr>
                        <tr class="m-order-colspan">
                            <td colspan="5">订单总佣金（智美豆）：<span class="m-order-money">{{orderInfo?.result?.commission_total_amount}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="lgModal.hide()">
                        返回
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--此下为打印内容-->
<div  style="display: none">
    <essence-ng2-print
            #printBtn
            [mode]="'popup'"
            [popTitle]="'用户订单表格打印'"
            [btnText]="'打印'"
            [btnClass]="{'btn': true, 'btn-warning': true}"
            [printHTML]="print_div"
            [printStyle]="printStyle"
            [printCSS]="printCSS"
            [showBtn]="false">
        <!--(click)="beforePrint()"-->
        <!--(printComplete)="printComplete()"-->

    </essence-ng2-print>
    <div class="receipt" #print_div>
        <div class="rt-main rt-flex">
            <div class="rt-main-doc"  style="padding-right:60px;">
                <div class="rt-item-hd">
                    <div class="rt-item-hd-img rt-center">
                        <img src="assets/img/frozen-black.png" class="rt-mg">
                    </div>
                    <div class="rt-center rt-font-lg">深圳冻龄智美生物科技有限公司</div>
                    <div class="rt-center">黑科技纯钛金属表皮电子系统，开启科技焕肤之旅。
                    </div>
                </div>
                <div class="rt-item">
                    <div class="rt-left" style="width:50%;padding-right:20px;" >
                        <div class="" style="font-weight: bold;">配送地址</div>
                        <div class="">名称：{{(orderInfo.result?.c_name) ? (orderInfo.result?.c_name) : (orderInfo.result?.c_phone)}}</div>
                        <div class="">姓名：{{orderInfo.result?.name}}</div>
                        <div class="">省/市/自治区：{{orderInfo.result?.province}}{{orderInfo.result?.city}}{{orderInfo.result?.area}}</div>
                        <div class="">街道地址：{{orderInfo.result?.address}}</div>
                        <div class="">邮政编码:{{orderInfo.result?.zip}}</div>
                        <div class="">电话：{{orderInfo.result?.phone}}</div>
                    </div>
                    <div class="rt-right" style="width:50%;">
                        <div class="rt-one">
                            <img src="assets/img/one1.jpg" class="rt-one-mg">
                        </div>
                        <div class="">订单编号：{{orderInfo.result?.tax_number}}</div>
                        <div class="">日期：{{orderInfo.result?.created_at}}</div>
                        <div class="">客户ID：{{orderInfo.result?.frozeno_customer_id}}</div>
                    </div>
                </div>
                <div class="rt-table">
                    <div class="rt-table-hd">
                        <div class="">出货仓库：</div>
                        <div class="">配送方式：{{orderInfo.result?.frozeno_express_company}}</div>
                        <div class="">付款方式：微信</div>
                    </div>
                    <table class="rt-gridtable">
                        <tr>
                            <th >No.</th>
                            <th >商品编号</th>
                            <th >名称</th>
                            <th >数量</th>
                            <th >折扣价</th>
                        </tr>
                        <tr *ngFor="let p of orderInfo?.result?.products;let indp = index;">
                            <td>{{indp+1}}</td>
                            <td>{{p.category_number}}</td>
                            <td>{{p.category_desc}}</td>
                            <td>{{p.product_count}}</td>
                            <td>{{p.product_amount}}</td>
                        </tr>
                        <tr>
                            <td class="ft-left" colspan="3">合计：</td>
                            <td>{{orderInfo?.result?.totalCount}}</td>
                            <td>{{orderInfo?.result?.frozeno_order_amount}}</td>
                        </tr>
                    </table>
                    <div class="rt-table-right" style="padding: 10px 0 10px;">收据</div>
                    <div class="rt-center rt-ft">谢谢惠顾！</div>
                </div>
            </div>

            <div class="rt-main-doc"  style="padding-left:60px;">
                <div class="rt-item-hd">
                    <div class="rt-item-hd-img rt-center">
                        <img src="assets/img/frozen-black.png" class="rt-mg">
                    </div>
                    <div class="rt-center rt-font-lg">深圳冻龄智美生物科技有限公司</div>
                    <div class="rt-center">黑科技纯钛金属表皮电子系统，开启科技焕肤之旅。
                    </div>
                </div>
                <div class="rt-item">
                    <div class="rt-left" style="width:50%;padding-right:20px;" >
                        <div class="" style="font-weight: bold;">配送地址</div>
                        <div class="">名称：{{(orderInfo.result?.c_name) ? (orderInfo.result?.c_name) : (orderInfo.result?.c_phone)}}</div>
                        <div class="">姓名：{{orderInfo.result?.name}}</div>
                        <div class="">省/市/自治区：{{orderInfo.result?.province}}{{orderInfo.result?.city}}{{orderInfo.result?.area}}</div>
                        <div class="">街道地址：{{orderInfo.result?.address}}</div>
                        <div class="">邮政编码:{{orderInfo.result?.zip}}</div>
                        <div class="">电话：{{orderInfo.result?.phone}}</div>
                    </div>
                    <div class="rt-right" style="width:50%;">
                        <div class="rt-one">
                            <img src="assets/img/one1.jpg" class="rt-one-mg">
                        </div>
                        <div class="">发票编号：{{orderInfo.result?.tax_number}}</div>
                        <div class="">日期：{{orderInfo.result?.created_at}}</div>
                        <div class="">客户ID：{{orderInfo.result?.frozeno_customer_id}}</div>
                    </div>
                </div>
                <div class="rt-table">
                    <div class="rt-table-hd">
                        <div class="">出货仓库：</div>
                        <div class="">配送方式：{{orderInfo.result?.frozeno_express_company}}</div>
                        <div class="">付款方式：微信</div>
                    </div>
                    <table class="rt-gridtable">
                        <tr>
                            <th >No.</th>
                            <th >商品编号</th>
                            <th >名称</th>
                            <th >数量</th>
                            <th >折扣价</th>
                        </tr>
                        <tr *ngFor="let p of orderInfo?.result?.products;let indp = index;">
                            <td>{{indp+1}}</td>
                            <td>{{p.category_number}}</td>
                            <td>{{p.category_desc}}</td>
                            <td>{{p.product_count}}</td>
                            <td>{{p.product_amount}}</td>
                        </tr>
                        <tr>
                            <td class="ft-left" colspan="3">合计：</td>
                            <td>{{orderInfo?.result?.totalCount}}</td>
                            <td>{{orderInfo?.result?.frozeno_order_amount}}</td>
                        </tr>
                    </table>
                    <div class="rt-table-right" style="padding: 10px 0 10px;">收据</div>
                    <div class="rt-center rt-ft">谢谢惠顾！</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 审核 -->
<div class="modal fade" bsModal #verifyModal="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">订单号：{{verifyInfo?.o_order}}
                    <span [ngSwitch]="verifyInfo?.frozeno_order_state">
                      <span class="label-blue" *ngSwitchCase="2">
                         <span *ngIf="verifyInfo?.frozeno_prepare_state == 1">
                          待备货</span>
                         <span style="color: blue" *ngIf="verifyInfo?.frozeno_prepare_state == 2">
                          待发货</span>
                      </span>
                      <span class="label-full" *ngSwitchCase="3">待收货</span>
                      <span class="label-full" *ngSwitchCase="4">交易成功</span>
                      <span class="label-full" *ngSwitchCase="5">取消订单</span>
                      <span class="label-full" *ngSwitchCase="6">取消订单并退款</span>
                      <span class="label-full" *ngSwitchCase="7">已退款</span>
                      <span class="label-full" *ngSwitchCase="8">维修</span>
                      <span class="label-full" *ngSwitchCase="9">换货</span>
                      <span class="label-full" *ngSwitchCase="10">补寄</span>
                      <span class="label-full" *ngSwitchCase="14">退款退货</span>
                      <span class="label-unknown" *ngSwitchDefault>未知</span>
                    </span>
                </h5>
                <button type="button" class="close" (click)="verifyModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <!--<div class="form-row">-->
                        <!--<div class="form-group col-md-12">-->
                            <!--<h4>订单状态：待收货</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--业务类型
                    待备货、待发货：仅退款(未发货)
                    待收货：退货退款(已发货)、补寄
                    交易成功：维修、换货、补寄
                    未支付、退款中、交易失败、已退款、部分退款、换货中、维修中、补寄、已处理：不显示审核按钮
                    -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" >业务类型<span class="asterisk-color">*</span></span>
                                </div>
                                <select class="custom-select" [(ngModel)]="select_order_state" [ngModelOptions]="{standalone: true}">
                                    <option selected>--请选择分类--</option>
                                    <option value="6">仅退款(未发货)</option>
                                    <option value="14">退货退款(已发货)</option>
                                    <option value="8">维修</option>
                                    <option value="9">换货</option>
                                    <option value="10">补寄</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" >买家备注</span>
                                </div>
                                <textarea class="form-control" aria-label="备注" [(ngModel)]="buyer_mark" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" >卖家备注</span>
                                </div>
                                <textarea class="form-control" aria-label="备注" [(ngModel)]="seller_mark" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="verifyModal.hide()">取消</button>
                <button type="button" class="btn btn-primary" (click)="submitVerify(1)">提交</button>
            </div>
        </div>
    </div>
</div>
