<div id="content" >
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false" [togglebutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>我的客户</h2>
                    </header>
                    <div>
                        <div class="finance" style="padding-bottom:40px;">
                            <div class="text-center finance-item finance-sm bg-primary text-white" routerLink="/online-retailers/team" >
                                <h5 class="finance-title">64</h5>
                                <div class="finance-text">总人数</div>
                            </div>
                            <div class="text-center finance-item finance-sm" routerLink="/online-retailers/team">
                                <h5 class="finance-title">64</h5>
                                <div class="finance-text">注册用户</div>
                            </div>
                            <div class="text-center finance-item finance-sm" routerLink="/online-retailers/team">
                                <h5 class="finance-title">64</h5>
                                <div class="finance-text">VIP</div>
                            </div>
                            <div class="text-center finance-item finance-sm" routerLink="/online-retailers/team">
                                <h5 class="finance-title">64</h5>
                                <div class="finance-text">SVIP</div>
                            </div>
                            <div class="text-center finance-item finance-sm" routerLink="/online-retailers/team">
                                <h5 class="finance-title">64</h5>
                                <div class="finance-text">中级经销商</div>
                            </div>
                            <div class="text-center finance-item finance-sm" routerLink="/online-retailers/team">
                                <h5 class="finance-title">0</h5>
                                <div class="finance-text">高级经销商</div>
                            </div>

                        </div>
                        <div class="widget-body no-padding" >
                            <article>
                                <div class="navbar navbar-default">
                                    <form  class="navbar-form" novalidate="" role="search" >
                                        <div class="btn-group">
                                            <h5 >2020年9月客户新增</h5>
                                        </div>
                                    </form>
                                    <form  class="navbar-form" novalidate="" role="search" >
                                        <div class="btn-group">
                                            <h5> 筛选：</h5>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn default-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                2020年9月
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" >2020年9月</a>
                                                <a class="dropdown-item" >2019年8月</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </article>
                            <div class="finance" style="padding:20px;">
                                <div class="text-center finance-item finance-sm"  style="background: #ebecee;">
                                    <h5 class="finance-title">0</h5>
                                    <p class="finance-text">总人数 新增/人</p>
                                </div>
                                <div class="text-center finance-item finance-sm" >
                                    <h5 class="finance-title">0</h5>
                                    <p class="finance-text">注册用户 新增/人</p>
                                </div>
                                <div class="text-center finance-item finance-sm" >
                                    <h5 class="finance-title">0</h5>
                                    <p class="finance-text">VIP 新增/人</p>
                                </div>
                                <div class="text-center finance-item finance-sm" >
                                    <h5 class="finance-title">0</h5>
                                    <p class="finance-text">SVIP 新增/人</p>
                                </div>
                                <div class="text-center finance-item finance-sm" >
                                    <h5 class="finance-title">0</h5>
                                    <p class="finance-text">中级经销商 新增/人</p>
                                </div>
                                <div class="text-center finance-item finance-sm" >
                                    <h5 class="finance-title">0</h5>
                                    <p class="finance-text">高级经销商 新增/人</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>