/*用户订单详情*/
.m-order{
    padding-top:20px;
}
.m-orderdetails{
    padding:6px 0;
}
.m-orderdetails-title{
    font-weight: bold;
}
.m-orderdetails-alert{
    margin-top:20px;
}
.m-order-money{
    color:red;
    font-size:18px;
}
.m-order-colspan{
    background-color:#e2e3e5!important;
}

.jurisdiction{
    padding:20px;
}
.jurisdiction-content{
    padding:2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
.jurisdiction-hd{
    font-size: 1.4rem;
    padding-bottom: 20px;
    text-align:center;
}
.mall-routine{
    width:200px;
    margin:20px;
}

/*版块*/
.finance{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding:20px;
}
.finance-item{
    padding: 10px;
    border: 1px solid #e2e3e5;
    margin: 0 10px 10px 0;
    border-radius: 4px;
}
.finance-xs{
    width: 160px;
}
.finance-sm{
    width: 240px;
}
.finance-title{
    font-size:2rem;
}

/*多选*/
.checkbox-item{
    padding-top:10px;
}
.checkbox-list{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#e2e3e5;
    border-radius: 4px;
    margin: 0 6px 6px 0;
}
.checkbox-close{
    margin-left:6px;
}

/*图片*/
.picture-item{
    display: inline-block;
    zoom: 1;
    margin:0 10px 50px 0;
    /*position: relative;*/
}
.picture-item-img{
    width:148px;
    height:148px;
    border: 1px solid #e2e3e5;
}
.picture-item-imge{
    width:100%;
    height:100%;
}
.picture-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:34px;
    background-color: #333;
    border: 1px solid #333;
    font-size:1.2rem;
    margin: 0;
    color: #fff;
    z-index: 3;
}
.picture-file{
    height: 100%;
    width: 100%;
}
.picture-file-input{
    position: absolute;
    height: 148px;
    width: 148px;
}
.picture-file .picture-file-icon{
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 148px;
}
.picture-file-upload{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 34px;
}