/*用户订单详情*/
.m-order{
    padding-top:20px;
}
.m-orderdetails{
    padding:6px 0;
}
.m-orderdetails-title{
    font-weight: bold;
}
.m-orderdetails-alert{
    margin-top:20px;
}
.m-order-money{
    color:red;
}
.m-order-colspan{
    background-color:#e2e3e5!important;
}

.jurisdiction{
    padding:20px;
}
.jurisdiction-content{
    padding:2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
.jurisdiction-hd{
    font-size: 1.4rem;
    padding-bottom: 20px;
    text-align:center;
}
.mall-routine{
    width:200px;
    margin:20px;
}

/*版块*/
.finance{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding:20px;
}
.finance-item{
    padding: 10px;
    border: 1px solid #e2e3e5;
    margin: 0 10px 10px 0;
    border-radius: 4px;
}
.finance-xs{
    width: 160px;
}
.finance-sm{
    width: 240px;
}
.finance-title{
    font-size:2rem;
}

/*多选*/
.checkbox-item{
    padding-top:10px;
}
.checkbox-list{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#e2e3e5;
    border-radius: 4px;
    margin: 0 6px 6px 0;
}
.checkbox-close{
    margin-left:6px;
}

/*图片*/
.picture-item{
    display: inline-block;
    zoom: 1;
    margin:0 10px 50px 0;
    /*position: relative;*/
}
.picture-box{
    display: inline-block;
    zoom: 1;
    margin:0 10px 20px 0;
    border:1px solid #e2e3e5;
}
.picture-item-img{
    width:148px;
    height:148px;
}
.picture-item-imge{
    width:100%;
    height:100%;
}
.picture-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:34px;
    background-color: #333;
    border: 1px solid #333;
    font-size:1.2rem;
    margin: 0;
    color: #fff;
    z-index: 3;
}
.picture-file{
    height: 100%;
    width: 100%;
}
.picture-file-input{
    position: absolute;
    height: 148px;
    width: 148px;
}
.picture-file .picture-file-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 148px;
    font-size:42px;
}
.picture-file-upload{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 34px;
}

/*选项卡*/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #DAB866;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: bold;
}
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #495057;
}


/*整体样式优化*/
.jarviswidget > header {
    background: #fff;
    border: none;
}
.jarviswidget-ctrls .button-icon{
    border-left: none;
}
.jarviswidget > div{
    border-width: 0;
}
.table thead th {
    border-bottom: 0;
}
.footer-size {
    border-bottom: 0;
    border-top: 0;
    background: #fff;
}
.nav-tabs .nav-link {
    font-size: 1rem;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #DAB866;
    background-color: #fff;
    border-color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #DAB866;
}
.ui-sortable .jarviswidget-sortable > header {
    -webkit-box-shadow: none;
}
#jarviswidget-fullscreen-mode {
    background: #fff;
}

/*消息列表*/
.news-box{
    border-bottom: 1px solid #dee2e6;
    padding: 12px 0;
}
.news-box-hd{
    font-size:1.2rem;
}
.news-box-text,.news-date{
    font-size:1rem;
}
.news-box-text{
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-color{
    color:#ccc;
}

/*个人*/
.data-box{
    padding:10px 0;
}
.user-icon-after img{
    display: block;
    width: 120px;
    height: 120px;
    border: solid 6px #f2f2f2;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.data-flex-sp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #f2f2f2;
    padding: 16px 0;
}
.news-box-color{
    color:#fff;
    background:#DAB866;
    padding:4px 10px;
    margin-right: 10px;
}
.date-name{
    font-size:1rem;
    padding-bottom:6px;
}
.date-name span{
    padding-right:10px;
}
.news-box-text span{
    padding-right:10px;
}

/*会员*/
.member-card{
    background: #DAB866;
    padding: 40px;
    border-radius: 10px;
    width: 600px;
    font-size: 1rem;
}
.member-hd{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.member-card content{
    display: flex;
    justify-content: space-between;
}
.member-content{
    display: flex;
    justify-content: space-between;
}
.money-head{
    display: flex;
}
.icon-logo{
    width:600px;
    height:201px;
}

.money-name{
    font-size: 1.8rem;
    color: #333;
    padding-right: 20px;
}
.date{
    padding-top: 60px;
    font-size: 1.2rem;
}
.money-grade{
    display: flex;
    align-items: center;
    color: #DAB866;
    font-weight: bold;
    background: #333;
    padding: 10px 20px;
    border-radius: 10px;

}
.date-branch-span{
    font-size:1.5rem;
}
.member-value{
    display: flex;
    justify-content: flex-end;
    padding-top:20px;
    font-size:1.2rem;
}
.center-box{
    display: flex;
    flex-direction: column;
    text-align:center;
    color: #333;
    background: #f2f2f2;
    padding:20px 40px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.box-span{
    display: block;
    flex-direction: row-reverse;
    color: #D6A848;
    font-size:1.5rem;
    font-weight:bold;
}
.member-branch{
    background-color: #333;
    padding:20px;
    color: #c6c6c6;
    font-size: 1.2rem;
}
.branch-content{
    display: flex;
    justify-content: space-between;
}
.branch-text{
    display: flex;
    padding-bottom: 20px;

}

.branch-text button{
    width: 80px;
    background: #DAB866;
}

.one{
    width:100%;
    height:80px;
    margin: 7px;

}
.card-one-text{;
    letter-spacing: 0.4rem;
    font-size:1rem;
}
.money-grade img{
    width:32px;
    padding-right:10px;
}
.money-image img{
    width:40px;;
}
/*.card-one-center{*/
    /*display: flex;*/
/*}*/
.card-one-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/**显示前*/
.mask-con{
    width: 100%;
    margin-bottom: 20px;
    display: none;
}
/**显示后*/
.mask-con-show{
    display: block;
}


/*会员积分*/
.integral-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.integral{
    display: flex;
    flex-direction: column;
    border-radius:10px;
    font-size:0.8rem;
    line-height:1.5;
    padding:20px 30px;
    background:#f2f2f2;
    color:#333;
    margin: 30px 0;
    width: 100%;
}
.integral-current{
    display: flex;
    flex-direction: column;
    align-items:center;
    color: #333;
    padding:20px 0;
}
.integral-box-text{
    font-size:1rem;
}
.current1{
    color:#DAB866;
    font-size:2.2rem;
    line-height:1.5;
    font-weight: bold;
}
.integral-current1{
    display: flex;
    justify-content: flex-end;
}
.current1-span{
    color:#DAB866;
}
.integral-span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #f2f2f2;
    margin-top: 20px;
    padding: 20px;
    font-size: 1rem;
    line-height:1.5;
}
.integral-title{
    display:flex;
    flex-direction: column;
}
.span-title{
    color:#333;
    font-size:1.2rem;
}
.span-date{
    font-size:0.8rem;
    line-height:1.5;
    padding-top:10px;
    color:#333;
}
.span-add{
    display: flex;
    align-items: center;
    color:#DAB866;
    font-size:1.8rem;
    font-weight:bold;
}
.span-add-left{
    padding-right:10px;
}
.integral-footer{
    text-align:center;
    color:#333;
    font-size:0.8rem;
    line-height:1.5;
    padding-top:60px;
}
.member-img{
    padding:40px 0;
}

/* 无 */
.search-no {
    width: 100%;
    display: block;
    text-align: center;
    padding:100px 0;
    color:#8b8b8b;
}
.scimg {
    width: 200px;
    height: 233px;
    display: inline-block;
    padding-bottom:30px;
}

/* 优惠券 */
.coupon-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    border-radius: 10px;
    margin-bottom:30px;

}
.colour{
    padding:20px 0;
}
.box-hd{
    display: flex;
    padding-bottom:10px;
}
.box-hd-text1{
    background:#DAB866;
    color: #fff;
    padding:10px 20px;
    border-radius: 10px 0 10px 0;
}
.box-hd-text2{
    background:#646464;
    color: #ccc;
    padding:10px 20px;
    border-radius: 10px 0 10px 0;
}
.box{
    padding: 20px;
    display: flex;
}
/*前半部分样式*/
.coupon-content {
    /* position: relative; */
    flex: 1;
}
/*后半部分样式*/
.tip {
    /* position: relative;
    padding:  50px 30px;
    flex: 0 0 200px;
    text-align: center; */
    display: flex;
    align-items: center;
}
/*中间竖直虚线样式*/
.split-line {
    position: relative;
    flex: 0 0 0;
    margin: 0 10px 0 6px;
    border-left: 4px dashed #fff;
}
/*给虚线加两个伪类，基本样式如下*/
.split-line:before, .split-line:after {
    content: '';
    position: absolute;
    width: 32px;
    height: 16px;
    background: #fff;
    left: -18px;
    z-index: 1;
}
/*给前半部分加两个伪类，基本样式如下*/
/* .coupon-content:before, .coupon-content:after{
    content: '';
    position: absolute;
    width: 32px;
    height: 16px;
    background: #333;
    left: -16px;
    z-index: 1;
} */

/*给前半部分加两个伪类，基本样式如下*/
/* .tip:before, .tip:after{
    content: '';
    position: absolute;
    width: 32px;
    height: 16px;
    background:#333;
    right: -16px;
    z-index: 1;
} */
/*几个伪类化成的圆弧的样式以及位置（置于顶部）我把它放在一起了*/
.coupon-content:before, .tip:before, .split-line:before{
    border-radius: 0 0 16px 16px;
    top: 0;
}

/*几个伪类化成的圆弧的样式以及位置（置于底部）我把它放在一起了*/
.coupon-content:after, .tip:after, .split-line:after{
    border-radius: 16px 16px 0 0;
    bottom: 0;
}
.img-coupon{
    width:160px;
    height:160px;
    padding-left:10px;
    opacity: 0.9;
}
.coupon-hd{
    font-size:1.2rem;
    padding-bottom:20px;
}
.conditions{
    font-size:0.8rem;
}
.date{
    font-size:0.8rem;
}
.money {
    font-size: 1.8rem;
}
.money-small{
    font-size:1rem;
    padding-right:10px;
}
.money-text{
    display: flex;
    align-items: flex-star;
    padding-top:10px;
}
.useNow {
    font-size: 28px;
    border-radius: 50px;
    border-style: none;
}
.co {
    padding-left:40px;
}
.co .co_w {
    width: 64px;
    height: 1px;
    background: #fff;
    margin-left: 40px;
    margin-bottom: -20px;
}

.co .co_l {
    width: 64px;
    height: 1px;
    background: #fff;
    margin-left: 240px;
    margin-top: -15px;
}
/* .colour-bg1{
   background:linear-gradient(-90deg,rgb(219, 147, 59),rgba(254,50,103,1));
} */
.colour-bg1{
    background: linear-gradient(to right, #565656, #404040);
    color:#fff;
}
.colour-bg2{
    background: linear-gradient(to right, #565656, #404040);
    color:#ccc;
}
