<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <a id="logo" target ="_blank"  href="https://www.frozeno.cn"> <img src="assets/img/logo.png" alt="I3OT"> </a>
  </div>
  <span id="extr-page-header-space">
    <a routerLink="/auth/login" class="btn btn-danger">登录</a>
  </span>


</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/details/details3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
              <a target ="_blank"  href="https://www.frozeno.cn"><img src="assets/img/details/details1.jpg" class="d-block w-100" alt="..."></a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="col-sm-12" style="padding-top: 10px;">
          <h5 class="about-heading">联系我们</h5>
          <div>
            深圳地址：深圳市福田区莲花街道康欣社区北环大道7043号青海大厦3203
          </div>
          <div>
            成都地址：四川省成都市下南大街59号世代锦江国际酒店25楼
          </div>
          <div>
            如有任何意见与建议请写信至：info@frozeno.com
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form id="login-form" class="smart-form client-form">
            <header>
              忘记了密码
            </header>

            <fieldset style="padding: 10px;">

              <div class=" col-sm-12" >
                <label class="">请输入你的手机号码</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" style="padding: .1rem .375rem;" placeholder="请输入你的手机号码" aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
              </div>

              <div class=" col-sm-12" >
                <label class="">验证码</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" style="padding: .1rem .375rem;" placeholder="请输入验证码" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <span class="input-group-text" style="padding: .1rem .375rem;" id="basic-addon2">获取短信验证码</span>
                  </div>
                </div>
              </div>
              <div class=" col-sm-12" style="margin-right: 13px;">
                <p class="txt-color-red">暂不开放，如需注册，请联系QQ：2839761055</p>
              </div>


            </fieldset>
            <footer>
              <button (click)="submit($event)" class="btn btn-primary">
                <i class="fa fa-refresh"></i> 重置密码
              </button>
            </footer>
          </form>

        </div>

        <!--<h5 class="text-center"> -使用第三方账号 -</h5>-->
        <!--<ul class="list-inline text-center icon-set">-->
          <!--<li>-->
            <!--<a (click)="(null)" ><i class="icon-set_wechat"></i></a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a (click)="(null)" ><i class="icon-set_nailing"></i></a>-->
          <!--</li>-->
        <!--</ul>-->

      </div>
    </div>
  </div>

</div>

