<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
                    <div>
                        <div class="widget-body" >

                            <div class="row">
                                <div class="col-4">
                                    <div class="m-customer">
                                        <div class="m-customer-box">
                                            <div class="m-customer-head">
                                                <div class="m-customer-head-img">
                                                    <img class="m-customer-head-imga" src="assets/img/default_user.png" >
                                                </div>
                                                <div class="m-customer-content">
                                                    <div class="m-customer-item m-customer-head-1a">
                                                        <div class="m-customer-head-name">星星</div>
                                                        <div class=""><a class="m-customer-1a">5.5折</a></div>
                                                    </div>
                                                    <div class="m-customer-item m-customer-head-2a">注册用户</div>
                                                    <div class="m-customer-item m-customer-head-3a">注册时间：2020-10-26 15:44:00</div>
                                                </div>
                                                <div class="m-customer-boxa">客户人数(<span class="m-customer-boxa-text">200</span>)</div>

                                            </div>
                                        </div>
                                        <div class="m-customer-boxb">
                                            <div class="m-customer-boxa-hd">
                                                <div class="m-customer-boxa-hd-left">2020年10月收益指数</div>
                                                <div class="m-customer-boxa-hd-right">2020年10月</div>
                                            </div>
                                            <div class="m-customer-boxa-content">
                                                <div class="m-customer-boxa-content-item">
                                                    <div class="m-customer-boxa-content-item"></div>
                                                </div>
                                                <div class="m-customer-boxa-content-item"></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-8">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-data-tab" data-toggle="tab" href="#nav-data" role="tab" aria-controls="nav-home" aria-selected="true">资料</a>
                                        </div>
                                    </nav>

                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
                                            <div class="search-no" style="display: none;">
                                                <div class="">
                                                    <img  class="scimg" src="assets/img/mask/wu.png" >
                                                </div>
                                                <span>您还没有内容~~</span>
                                            </div>
                                            <div class="col-12">
                                                <div class="data-flex-sp">
                                                    <div class="data-box-hd">
                                                        <div class="date-name"><span>微信昵称：</span><span>小星星</span> </div>
                                                    </div>
                                                </div>
                                                <div class="data-flex-sp">
                                                    <div class="data-box-hd">
                                                        <div class="date-name"><span>手机号码：</span> <span>15928592794</span>  </div>
                                                    </div>
                                                </div>
                                                <div class="data-flex-sp">
                                                    <div class="data-box-hd">
                                                        <div class="date-name"><span>注册时间：</span> <span>2020-10-26 15:44:00</span>  </div>
                                                    </div>
                                                </div>
                                                <div class="data-flex-sp">
                                                    <div class="data-box-hd">
                                                        <div class="date-name"><span>等级：</span> <span>注册用户</span>  </div>
                                                    </div>
                                                </div>
                                                <div class="data-flex-sp">
                                                    <div class="data-box-hd">
                                                        <div class="date-name"><span>分组：</span> <span>朋友</span>  </div>
                                                    </div>
                                                    <div class="date-edit">
                                                        <button type="button"  class="btn btn-outline-warning" data-toggle="modal" data-target="#addressModal"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>
                                                    </div>
                                                </div>
                                                <div class="data-flex-sp">
                                                    <div class="data-box-hd">
                                                        <div class="date-name"><span>折扣：</span> <span>4.5折</span>  </div>
                                                    </div>
                                                    <div class="date-edit">
                                                        <button type="button"  class="btn btn-outline-warning" data-toggle="modal" data-target="#addressModal"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>
                                                    </div>
                                                </div>
                                                <div class="data-flex-sp">
                                                    <div class="data-box-hd">
                                                        <div class="date-name"><span>备注名：</span> <span>星星</span>  </div>
                                                    </div>
                                                    <div class="date-edit">
                                                        <button type="button"  class="btn btn-outline-warning" data-toggle="modal" data-target="#addressModal"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>


<!-- Modal -->
<div class="modal fade" id="onedimensional" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="onedimensionalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="onedimensionalLabel">一维码</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-bg">
                    <div class=" mask-con mask-con-show">
                        <div class="card-one-center">
                            <div class="card-one-item">
                                <div class="card-one-img">
                                    <img src="assets/img/mask/one1.jpg" >
                                </div>
                                <div class="card-one-text">
                                    <span>(01)95012345678903(3102)000400</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>