<div id="content" >
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false" [togglebutton]="false">
                    <header>
                        <!--<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>-->
                        <h2>客户列表</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding" >
                            <article >
                                <div class="navbar" style="width:100%;border-bottom:1px solid #e2e3e5;">
                                    <form  class="navbar-form" novalidate="" role="search" >
                                        <div class="btn-group">
                                            <h5> 筛选：</h5>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn default-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                全部
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">全部</a>
                                                <a class="dropdown-item" href="#">注册用户</a>
                                                <a class="dropdown-item" href="#">VIP</a>
                                                <a class="dropdown-item" href="#">SVIP</a>
                                                <a class="dropdown-item" href="#">中级经销商</a>
                                                <a class="dropdown-item" href="#">高级经销商</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn default-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                加入时间正序
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">加入时间正序</a>
                                                <a class="dropdown-item" href="#">加入时间倒序</a>
                                            </div>
                                        </div>
                                    </form>
                                    <form  class="navbar-form" novalidate="" role="search" >

                                        <div class="btn-group">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn default-btn" >搜索</button>
                                        </div>
                                    </form>
                                </div>
                            </article>
                            <div class="">
                                <table class="table table-striped smart-form table-height-20">
                                    <thead class="">
                                    <tr>
                                        <th>序号</th>
                                        <th>用户等级</th>
                                        <th>用户名称 </th>
                                        <th>手机号码</th>
                                        <th>加入时间</th>
                                        <th>他的客户</th>
                                        <th>他本月新增客户</th>
                                        <th>个人月消费指数</th>
                                        <th>个人年消费指数</th>
                                        <th>月收益指数</th>
                                        <th>年收益指数</th>
                                        <th>备注</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- class="table-color"-->
                                    <tr >
                                        <td>1</td>
                                        <td>VIP</td>
                                        <td>星星</td>
                                        <td>15928592792 </td>
                                        <td>2020.07.01 </td>
                                        <td>100</td>
                                        <td>10</td>
                                        <td>100</td>
                                        <td>1000</td>
                                        <td>1000</td>
                                        <td>1000</td>
                                        <td>名字</td>
                                    </tr>
                                    <tr >
                                        <td>1</td>
                                        <td>VIP</td>
                                        <td>星星</td>
                                        <td>15928592792 </td>
                                        <td>2020.07.01 </td>
                                        <td>100</td>
                                        <td>10</td>
                                        <td>100</td>
                                        <td>1000</td>
                                        <td>1000</td>
                                        <td>1000</td>
                                        <td>名字</td>
                                    </tr>
                                    <tr >
                                        <td>1</td>
                                        <td>VIP</td>
                                        <td>星星</td>
                                        <td>15928592792 </td>
                                        <td>2020.07.01 </td>
                                        <td>100</td>
                                        <td>10</td>
                                        <td>100</td>
                                        <td>1000</td>
                                        <td>1000</td>
                                        <td>1000</td>
                                        <td>名字</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- 底部-（分页部分）-->
                            <div class="footer-size flex-justify-end">
                                <ul class="pagination folat-right">
                                    <li class="page-item disabled">
                                        <span class="page-link">上一页</span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active" aria-current="page"><span class="page-link">2</span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">下一页</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a  class="page-link" disabled>共5445条</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>