<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">

                    <header>
                        <h2>消息管理</h2>
                    </header>

                    <div>
                        <div class="widget-body" >
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-whole-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">全部消息</a>
                                    <a class="nav-item nav-link" id="nav-system-tab" data-toggle="tab" href="#nav-system" role="tab" aria-controls="nav-contact" aria-selected="false">系统消息</a>
                                    <a class="nav-item nav-link" id="nav-butler-tab" data-toggle="tab" href="#nav-butler" role="tab" aria-controls="nav-contact" aria-selected="false">管家私信</a>
                                    <a class="nav-item nav-link" id="nav-frozeno-tab" data-toggle="tab" href="#nav-frozeno" role="tab" aria-controls="nav-contact" aria-selected="false">冻龄智美通知</a>
                                </div>
                            </nav>

                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-whole-tab">
                                    <div class="news-main">
                                        <div class="news-item">
                                            <div class="news-box">
                                                <div class="news-box-hd">
                                                    冻龄智美V1.0上线了
                                                </div>
                                                <div class="news-box-text">
                                                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                                </div>
                                                <div class="news-date news-color">
                                                    2020-07-13 11:44:32
                                                </div>
                                            </div>

                                        </div>
                                        <!-- 底部-（分页部分）-->
                                        <div class="footer-size flex-justify-end">

                                            <ul class="pagination folat-right">
                                                <li class="page-item disabled">
                                                    <span class="page-link">上一页</span>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item active" aria-current="page"><span class="page-link">2</span>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">下一页</a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a  class="page-link" disabled>共5445条</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane fade" id="nav-system" role="tabpanel" aria-labelledby="nav-system-tab">

                                    <div class="news-main">
                                        <div class="news-item">
                                            <div class="news-box">
                                                <div class="news-box-hd">
                                                    冻龄智美V1.0上线了
                                                </div>
                                                <div class="news-box-text">
                                                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                                </div>
                                                <div class="news-date news-color">
                                                    2020-07-13 11:44:32
                                                </div>
                                            </div>

                                        </div>
                                        <!-- 底部-（分页部分）-->
                                        <div class="footer-size flex-justify-end">

                                            <ul class="pagination folat-right">
                                                <li class="page-item disabled">
                                                    <span class="page-link">上一页</span>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item active" aria-current="page"><span class="page-link">2</span>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">下一页</a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a  class="page-link" disabled>共5445条</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="nav-butler" role="tabpanel" aria-labelledby="nav-butler-tab">
                                    <div class="news-main">
                                        <div class="news-item">
                                            <div class="news-box">
                                                <div class="news-box-hd">
                                                    冻龄智美V1.0上线了
                                                </div>
                                                <div class="news-box-text">
                                                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                                </div>
                                                <div class="news-date news-color">
                                                    2020-07-13 11:44:32
                                                </div>
                                            </div>

                                        </div>
                                        <!-- 底部-（分页部分）-->
                                        <div class="footer-size flex-justify-end">

                                            <ul class="pagination folat-right">
                                                <li class="page-item disabled">
                                                    <span class="page-link">上一页</span>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item active" aria-current="page"><span class="page-link">2</span>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">下一页</a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a  class="page-link" disabled>共5445条</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="nav-frozeno" role="tabpanel" aria-labelledby="nav-frozeno-tab">
                                    <div class="news-main">
                                        <div class="news-item">
                                            <div class="news-box">
                                                <div class="news-box-hd">
                                                    冻龄智美V1.0上线了
                                                </div>
                                                <div class="news-box-text">
                                                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                                </div>
                                                <div class="news-date news-color">
                                                    2020-07-13 11:44:32
                                                </div>
                                            </div>

                                        </div>
                                        <!-- 底部-（分页部分）-->
                                        <div class="footer-size flex-justify-end">

                                            <ul class="pagination folat-right">
                                                <li class="page-item disabled">
                                                    <span class="page-link">上一页</span>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item active" aria-current="page"><span class="page-link">2</span>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">下一页</a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a  class="page-link" disabled>共5445条</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>


