<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false" [togglebutton]="false">

                    <header>
                        <h2>消息中心</h2>
                    </header>

                    <div>
                        <div class="widget-body" >
                            <div class="row">
                                <div class="col-3">
                                    <div class="nav flex-column nav-pills vertical-tab-pills" id="v-member-tab" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link vertical-tab-link active" id="v-member1-tab" data-toggle="pill" href="#v-member1" role="tab" aria-controls="v-pills-home" aria-selected="true">全部消息</a>
                                        <a class="nav-link vertical-tab-link" id="v-member2-tab" data-toggle="pill" href="#v-member2" role="tab" aria-controls="v-pills-profile" aria-selected="false">系统消息</a>
                                        <a class="nav-link vertical-tab-link" id="v-member3-tab" data-toggle="pill" href="#v-member3" role="tab" aria-controls="v-pills-messages" aria-selected="false">管家私信</a>
                                        <a class="nav-link vertical-tab-link" id="v-member4-tab" data-toggle="pill" href="#v-member4" role="tab" aria-controls="v-pills-settings" aria-selected="false">冻龄智美通知</a>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="tab-content" id="v-member-tabContent">
                                        <div class="tab-pane fade show active" id="v-member1" role="tabpanel" aria-labelledby="v-member1-tab">
                                            <nav>
                                                <div class="nav nav-tabs nav-default"  role="tablist">
                                                    <a class="nav-item nav-link active"  data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true">全部消息</a>
                                                    <a class="nav-item nav-link"  data-toggle="tab"  role="tab" aria-controls="nav-contact" aria-selected="false">未读消息</a>
                                                    <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">已读消息</a>
                                                </div>
                                            </nav>
                                            <div class="search-no" style="display: none;">
                                                <div class="">
                                                    <img  class="scimg" src="assets/img/mask/wu.png" >
                                                </div>
                                                <span>您还没有内容~~</span>
                                            </div>
                                            <div class="news-main">
                                                <div class="news-item">
                                                    <div class="news-box">
                                                        <div class="news-box-hd">
                                                            冻龄智美V1.0上线了
                                                        </div>
                                                        <div class="news-box-text">
                                                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                                        </div>
                                                        <div class="news-date news-color">
                                                            2020-07-13 11:44:32
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- 底部-（分页部分）-->
                                                <div class="footer-size flex-justify-end">

                                                    <ul class="pagination folat-right">
                                                        <li class="page-item disabled">
                                                            <span class="page-link">上一页</span>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item active" aria-current="page"><span class="page-link">2</span>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">下一页</a>
                                                        </li>
                                                        <li class="page-item disabled">
                                                            <a  class="page-link" disabled>共5445条</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="v-member2" role="tabpanel" aria-labelledby="v-member2-tab">
                                            <nav>
                                                <div class="nav nav-tabs nav-default"  role="tablist">
                                                    <a class="nav-item nav-link active"  data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true">全部消息</a>
                                                    <a class="nav-item nav-link"  data-toggle="tab"  role="tab" aria-controls="nav-contact" aria-selected="false">未读消息</a>
                                                    <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">已读消息</a>
                                                </div>
                                            </nav>
                                            <div class="search-no" style="display: none;">
                                                <div class="">
                                                    <img  class="scimg" src="assets/img/mask/wu.png" >
                                                </div>
                                                <span>您还没有内容~~</span>
                                            </div>
                                            <div class="news-main">
                                                <div class="news-item">
                                                    <div class="news-box">
                                                        <div class="news-box-hd">
                                                            冻龄智美V1.0上线了
                                                        </div>
                                                        <div class="news-box-text">
                                                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                                        </div>
                                                        <div class="news-date news-color">
                                                            2020-07-13 11:44:32
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- 底部-（分页部分）-->
                                                <div class="footer-size flex-justify-end">

                                                    <ul class="pagination folat-right">
                                                        <li class="page-item disabled">
                                                            <span class="page-link">上一页</span>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item active" aria-current="page"><span class="page-link">2</span>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">下一页</a>
                                                        </li>
                                                        <li class="page-item disabled">
                                                            <a  class="page-link" disabled>共5445条</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="v-member3" role="tabpanel" aria-labelledby="v-member3-tab">
                                            <nav>
                                                <div class="nav nav-tabs nav-default"  role="tablist">
                                                    <a class="nav-item nav-link active"  data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true">全部消息</a>
                                                    <a class="nav-item nav-link"  data-toggle="tab"  role="tab" aria-controls="nav-contact" aria-selected="false">未读消息</a>
                                                    <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">已读消息</a>
                                                </div>
                                            </nav>
                                            <div class="search-no" style="display: none;">
                                                <div class="">
                                                    <img  class="scimg" src="assets/img/mask/wu.png" >
                                                </div>
                                                <span>您还没有内容~~</span>
                                            </div>
                                            <div class="news-main">
                                                <div class="news-item">
                                                    <div class="news-box">
                                                        <div class="news-box-hd">
                                                            冻龄智美V1.0上线了
                                                        </div>
                                                        <div class="news-box-text">
                                                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                                        </div>
                                                        <div class="news-date news-color">
                                                            2020-07-13 11:44:32
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- 底部-（分页部分）-->
                                                <div class="footer-size flex-justify-end">

                                                    <ul class="pagination folat-right">
                                                        <li class="page-item disabled">
                                                            <span class="page-link">上一页</span>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item active" aria-current="page"><span class="page-link">2</span>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">下一页</a>
                                                        </li>
                                                        <li class="page-item disabled">
                                                            <a  class="page-link" disabled>共5445条</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="v-member4" role="tabpanel" aria-labelledby="v-member4-tab">
                                            <nav>
                                                <div class="nav nav-tabs nav-default"  role="tablist">
                                                    <a class="nav-item nav-link active"  data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true">全部消息</a>
                                                    <a class="nav-item nav-link"  data-toggle="tab"  role="tab" aria-controls="nav-contact" aria-selected="false">未读消息</a>
                                                    <a class="nav-item nav-link"  data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">已读消息</a>
                                                </div>
                                            </nav>
                                            <div class="search-no" style="display: none;">
                                                <div class="">
                                                    <img  class="scimg" src="assets/img/mask/wu.png" >
                                                </div>
                                                <span>您还没有内容~~</span>
                                            </div>
                                            <div class="news-main">
                                                <div class="news-item">
                                                    <div class="news-box">
                                                        <div class="news-box-hd">
                                                            冻龄智美V1.0上线了
                                                        </div>
                                                        <div class="news-box-text">
                                                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                                        </div>
                                                        <div class="news-date news-color">
                                                            2020-07-13 11:44:32
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- 底部-（分页部分）-->
                                                <div class="footer-size flex-justify-end">

                                                    <ul class="pagination folat-right">
                                                        <li class="page-item disabled">
                                                            <span class="page-link">上一页</span>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item active" aria-current="page"><span class="page-link">2</span>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">下一页</a>
                                                        </li>
                                                        <li class="page-item disabled">
                                                            <a  class="page-link" disabled>共5445条</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>


