<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false" [togglebutton]="false">
                    <header>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">经销商授权管理</a>
                            </div>
                        </nav>
                    </header>
                    <div style="min-height: 600px;border-bottom: 1px solid #ccc;">
                        <div class="widget-body no-padding" >
                            <article>
                                <div class="navbar" style="width:100%;border-bottom:1px solid #e2e3e5;">
                                    <form  class="navbar-form" novalidate="" role="search" >
                                        <div class="btn-group">
                                            <input type="text" class="form-control" placeholder="请输入电话号码" name="phone" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn default-btn" (click)="getInfo()">搜索</button>
                                        </div>
                                    </form>
                                </div>
                            </article>
                            <div class="navbar" style="width:100%;border-bottom:1px solid #e2e3e5;" id="upgrade">
                                <form class="navbar-form">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <label class="sr-only" >电话号码：</label>
                                            <input type="text" class="form-control mb-2" [(ngModel)]="customerInfo.c_phone" [ngModelOptions]="{standalone: true}">
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" >等级</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">等级</div>
                                                </div>
                                                <select class="form-control" name="level" [(ngModel)]="level" [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let l of levels" value="{{l.level_value}}" [selected]="customerInfo.frozeno_level == l.level_value">{{l.level_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary mb-2" (click)="upCustomerLevel()">用户升级</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="navbar" style="width:100%;border-bottom:1px solid #e2e3e5;">
                                <form class="navbar-form">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <label class="sr-only" >电话号码：</label>
                                            <input type="text" class="form-control mb-2" [(ngModel)]="customerInfo.c_phone" [ngModelOptions]="{standalone: true}">
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" >折扣</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">折扣</div>
                                                </div>
                                                <select class="form-control" name="level" [(ngModel)]="discount" [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let d of discounts" value="{{d}}" [selected]="customerInfo.frozeno_dealer_discount == d">{{d}}折</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary mb-2" (click)="setChildDiscount()">设置用户折扣</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="navbar" style="width:100%;border-bottom:1px solid #e2e3e5;" id="coupon">
                                <form class="navbar-form">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <label class="sr-only" >电话号码：</label>
                                            <input type="text" class="form-control mb-2" [(ngModel)]="customerInfo.c_phone" [ngModelOptions]="{standalone: true}">
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" >优惠券</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">优惠券</div>
                                                </div>
                                                <select class="form-control" name="type" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                                                    <option selected value="1">满减</option>
                                                    <option value="2">立减</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" *ngIf="type == 1">满减：</label>
                                            <label class="sr-only" *ngIf="type == 2">立减：</label>
                                            <input type="text" class="form-control mb-2" *ngIf="type == 1" placeholder="满" name="satisfy_amount" [(ngModel)]="satisfy_amount" [ngModelOptions]="{standalone: true}">
                                            <input type="text" class="form-control mb-2" placeholder="减" name="amount" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" >
                                        </div>
                                        <!--<div class="col-auto">-->
                                            <!--<label class="sr-only" >立减：</label>-->
                                            <!--<input type="text" class="form-control mb-2" value="立减" name="amount" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}">-->
                                        <!--</div>-->

                                        <div class="col-auto">
                                            <label class="sr-only" >有效期</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">有效期</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" >有效期：</label>
                                            <input type="text" class="form-control mb-2" placeholder="开始时间" name="start_date" [(ngModel)]="start_date" [ngModelOptions]="{standalone: true}">
                                            <input type="text" class="form-control mb-2" placeholder="结束时间" name="end_date" [(ngModel)]="end_date" [ngModelOptions]="{standalone: true}">
                                        </div>

                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary mb-2" (click)="settingCustomerTicket()">授权用户邀请自动发优惠券</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="jurisdiction" *ngIf="customerInfo.c_phone">
                                <div class="jurisdiction-content">
                                    <div class="jurisdiction-hd">用户信息</div>
                                    <div class="row m-orderdetails">
                                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">用户名：</span>{{customerInfo.c_name}}</div>
                                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">手机号码：</span>{{customerInfo.c_phone}}</div>
                                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">ID：</span>{{customerInfo.c_number}} </div>
                                    </div>
                                    <div class="row m-orderdetails">
                                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">等级：</span>{{customerInfo.level_name}}</div>
                                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">注册时间：</span>{{customerInfo.created_at}}</div>
                                    </div>
                                    <div class="row m-orderdetails">
                                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">邀请授权自动发优惠券：</span>
                                            <span *ngIf="customerInfo.type == 1">满{{customerInfo.satisfy_amount}}</span>
                                            <span *ngIf="customerInfo.amount">减{{customerInfo.amount}}</span></div>
                                        <div class="col-6 col-md-4"><span class="m-orderdetails-title">有效期：</span>{{customerInfo.created_at}} 至{{customerInfo.frozeno_validity}}</div>
                                    </div>
                                    <div class="row m-orderdetails">
                                        <div class="col-12 text-center" style="padding: 20px 0;">
                                            <img class="mall-routine" src="{{customerInfo.frozeno_qrcode}}" alt="">
                                            <img class="mall-routine" src="{{shareCodeImg}}" alt="">
                                        </div>
                                        <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-primary" (click)="showCircleCode()" *ngIf="shareCodeImg == ''">显示用户分享二维码</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>