<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa {{menuInfos?.menu_icon}}"></i> </span>
                        <h2>{{menuInfos?.menu_name}}</h2>
                    </header>
                    <div>
                        <div class="widget-body  no-padding">
                            <article>
                                <div class="navbar navbar-default">
                                    <!--<form  class="navbar-form " novalidate="" role="search" >-->
                                        <!--<div class="btn-group" *ngIf="isPermission(menu_id,'edit')">-->
                                            <!--<button type="button"   [ngClass]="{'btn btn-warning':true,'not-click':isStatus == 0}" (click)="isDemo('/mask-setting/edit-sales','1','edit')" ><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>-->
                                        <!--</div>-->
                                        <!--<div class="btn-group" *ngIf="isPermission(menu_id,'delete')">-->
                                            <!--<button type="button"  [ngClass]="{'btn btn-danger':true,'not-click':isStatus == 0}" (click)="deletePurchase('id')"><span class="fa-fw fa  fa-trash-o mr-5"></span>删除</button>-->
                                        <!--</div>-->
                                        <!--<div class="btn-group"  *ngIf="isPermission(menu_id,'detail')">-->
                                            <!--<button type="button"  [ngClass]="{'btn btn-success':true,'not-click':isStatus == 0}"  (click)="isDemo('/mask-setting/edit-sales','1','detail')" ><span class="fa-fw fa fa-list-alt mr-5"></span>详情</button>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                    <div>
                                        <div class="btn-group">
                                            <input type="text" class="form-control" style="width: 300px" [(ngModel)]="code" name="code" placeholder="请扫码" (ngModelChange)="isShowCountDiv()">
                                        </div>
                                        <div class="btn-group" *ngIf="isShowCount">
                                            <input type="text" class="form-control" [(ngModel)]="count" name="count" placeholder="个数">
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn default-btn"  (click)="onSubmit()">录入</button>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <div  class="padding0 height-overflow">
                                <div class="table-responsive">
                                    <table class="table table-striped smart-form table-height-20">
                                        <thead>
                                        <tr>
                                            <th>单品二维码</th>
                                            <th>类型</th>
                                            <th>个数</th>
                                            <th>操作员</th>
                                            <th>创建时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let p of productList?.result?.products">
                                            <td>{{p.code}}</td>
                                            <td>
                                             <span [ngSwitch]="p.type">
                                                <span class="label-normal" *ngSwitchCase="1">面膜单品</span>
                                                <span class="label-invalid" *ngSwitchCase="2">精华单品</span>
                                                <span class="label-maintain" *ngSwitchCase="3">导入仪单品</span>
                                                <span class="label-unknown" *ngSwitchDefault>未知</span>
                                             </span>
                                            </td>
                                            <td>{{p.count}}</td>
                                            <td>{{p.name}}</td>
                                            <td>{{p.created_at}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        库存数：
                                        <div *ngFor="let c of productList?.result?.category">
                                            <span>{{c.category_desc}}:{{c.frozeno_category_count}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>


<div class="modal bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" [ngStyle]="{'display':isShowErrorCode ?'block':'none'}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()">×</button>
            </div>
            <div class="modal-body">
                <span *ngFor="let e of errorCode">
                    {{e}}
                </span>
            </div>
        </div>
    </div>
</div>