<div id="content" >
    <sa-widgets-grid>

        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>财务管理</h2>
                    </header>
                    <div>
                        <div class="widget-body" >
                            <div class="card-columns">

                                <div class="card text-center text-white bg-primary">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size:3rem;">12.00</h5>
                                        <p class="card-text">今日收益指数</p>
                                    </div>
                                </div>
                                <div class="card text-center text-white bg-info">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size:3rem;">42.00</h5>
                                        <p class="card-text">本月收益指数</p>
                                    </div>
                                </div>
                                <div class="card text-center text-white bg-success">
                                    <div class="card-body" >
                                        <h5 class="card-title" style="font-size:3rem;">88.00</h5>
                                        <p class="card-text">总收益指数</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="widget-body no-padding" >


                            <article>
                                <div class="navbar navbar-default">
                                    <form  class="navbar-form" novalidate="" role="search" >
                                        <div class="btn-group">
                                            <h5 style="font-weight: bold;">月收入指数</h5>
                                        </div>
                                    </form>
                                    <form  class="navbar-form" novalidate="" role="search" >
                                        <div class="btn-group">
                                            <h5> 筛选：</h5>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn default-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                2020年6月
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">2020年6月</a>
                                                <a class="dropdown-item" href="#">2020年5月</a>
                                                <a class="dropdown-item" href="#">2020年4月</a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </article>
                            <div class="form-row" style="padding:20px 10px;">
                                <div class="form-group col-sm-8">
                                    <div class="finance">

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>
                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>
                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>
                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>
                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>

                                        <div class="text-center finance-item finance-xs">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">6月1日</p>
                                        </div>


                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="text-align-center">
                                        <div  theme = "macarons" echarts [options]="securityoption" style="width: 100%;height:420px;" class="demo-chart"></div>
                                    </div>
                                </div>
                            </div>

                            <article>
                                <div class="navbar navbar-default">
                                    <form  class="navbar-form" novalidate="" role="search" >
                                        <div class="btn-group">
                                            <h5 style="font-weight: bold;">总收入指数</h5>
                                        </div>
                                    </form>
                                    <form  class="navbar-form" novalidate="" role="search" >
                                        <div class="btn-group">
                                            <h5> 筛选：</h5>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn default-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                2020年
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">2020年</a>
                                                <a class="dropdown-item" href="#">2019年</a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </article>
                            <div class="form-row" style="padding:20px 10px;">
                                <div class="form-group col-sm-8">
                                    <div class="finance">

                                        <div class="text-center finance-item finance-sm">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">一月份</p>
                                        </div>

                                        <div class="text-center finance-item finance-sm">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">二月份</p>
                                        </div>

                                        <div class="text-center finance-item finance-sm">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">三月份</p>
                                        </div>
                                        <div class="text-center finance-item finance-sm">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">四月份</p>
                                        </div>

                                        <div class="text-center finance-item finance-sm">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">五月份</p>
                                        </div>

                                        <div class="text-center finance-item finance-sm">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">六月份</p>
                                        </div>
                                        <div class="text-center finance-item finance-sm">
                                            <h5 class="finance-title">42.00</h5>
                                            <p class="finance-text">七月份</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="text-align-center">
                                        <div  theme = "macarons" echarts [options]="securityoption" style="width: 100%;height:420px;" class="demo-chart"></div>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>
                </sa-widget>
            </article>



        </div>



    </sa-widgets-grid>
</div>