<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">

                    <header>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">优惠券管理</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">发放记录</a>
                            </div>
                        </nav>
                    </header>

                    <div>
                        <div class="widget-body no-padding" >
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <article>
                                        <div class="navbar" style="width:100%;border-bottom:1px solid #e2e3e5;">

                                            <form  class="navbar-form" novalidate="" role="search" >
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#couponModal" ><span class="fa-fw fa fa-plus  mr-5" ></span>添加</button>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button"   [ngClass]="{'btn btn-warning':true,'not-click':isStatus == 0}"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button"  [ngClass]="{'btn btn-success':true,'not-click':isStatus == 0}"><span class="fa-fw fa fa-list-alt mr-5"></span>详情</button>
                                                </div>
                                                <!--已审核的-->
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#grantModal"><span class="fa-fw fa fa-play mr-5 "></span>发放</button>
                                                </div>
                                                <div class="btn-group">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-primary" ><span class="fa-fw fa fa-stop mr-5 "></span>审核</button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-warning" ><span class="fa-fw fa fa-trash-o mr-5 "></span>作废</button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-danger" ><span class="fa-fw fa fa-mail-reply-all mr-5 "></span>弃废</button>
                                                    </div>

                                                </div>

                                            </form>

                                            <form  class="navbar-form" novalidate="" role="search" >
                                                <div class="btn-group">
                                                    <h5> 筛选：</h5>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="btn default-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        全部
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">全部</a>
                                                        <a class="dropdown-item" href="#">未审核</a>
                                                        <a class="dropdown-item" href="#">已审核</a>
                                                        <a class="dropdown-item" href="#">已发放</a>
                                                        <a class="dropdown-item" href="#">已作废</a>
                                                        <a class="dropdown-item" href="#">已过期</a>
                                                    </div>
                                                </div>
                                                <div class="btn-group">
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="btn default-btn" >搜索</button>
                                                </div>

                                            </form>


                                        </div>
                                    </article>
                                    <div class="">
                                        <table class="table table-striped smart-form table-height-20">
                                            <thead class="">
                                            <tr>
                                                <th>序号</th>
                                                <!--优惠券ID 保存自动生成已字母开头递增-->
                                                <th>优惠券ID</th>
                                                <th>优惠券名称 </th>
                                                <th>优惠券类型</th>
                                                <th>优惠券内容</th>
                                                <th>领取条件</th>
                                                <th>优惠券数量</th>
                                                <th>每人限领</th>
                                                <th>状态</th>
                                                <th>有效期</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- class="table-color"-->
                                            <tr >
                                                <td>1</td>
                                                <td>C0001</td>
                                                <td>新人卡券</td>
                                                <td>满减 </td>
                                                <td>全场通用 </td>
                                                <td>所有用户</td>
                                                <td>1000</td>
                                                <td>1</td>
                                                <td>已发放</td>
                                                <td>2020.07.01至2020.07.30</td>
                                            </tr>
                                            <tr >
                                                <td>1</td>
                                                <td>C0002</td>
                                                <td>活动券</td>
                                                <td>满减 </td>
                                                <td>满2000减100</td>
                                                <td>所有用户</td>
                                                <td>1000</td>
                                                <td>1</td>
                                                <td>已发放</td>
                                                <td>2020.07.01至2020.07.30</td>
                                            </tr>
                                            <tr >
                                                <td>1</td>
                                                <td>C0003</td>
                                                <td>新人卡券</td>
                                                <td>满减 </td>
                                                <td>满2000减100（导入仪除外）</td>
                                                <td>所有用户</td>
                                                <td>1000</td>
                                                <td>1</td>
                                                <td>审核中</td>
                                                <td>2020.07.01至2020.07.30</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- 底部-（分页部分）-->
                                    <div class="footer-size flex-justify-end">

                                        <ul class="pagination folat-right">
                                            <li class="page-item disabled">
                                                <span class="page-link">上一页</span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active" aria-current="page"><span class="page-link">2</span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">下一页</a>
                                            </li>
                                            <li class="page-item disabled">
                                                <a  class="page-link" disabled>共5445条</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <article>
                                        <div class="navbar" style="width:100%;border-bottom:1px solid #e2e3e5;">

                                            <form  class="navbar-form" novalidate="" role="search" >

                                                <div class="btn-group">
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="btn default-btn" >搜索</button>
                                                </div>

                                            </form>


                                        </div>
                                    </article>
                                    <div class="">
                                        <table class="table table-striped smart-form table-height-20">
                                            <thead class="">
                                            <tr>
                                                <th>序号</th>
                                                <th>优惠券ID </th>
                                                <th>优惠券名称 </th>
                                                <th>发送人数</th>
                                                <th>领取人数</th>
                                                <th>分享领取人数</th>
                                                <th>领券总张数</th>
                                                <th>获得新客户数</th>
                                                <th>已使用数</th>
                                                <th>带动营业额</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- class="table-color"-->
                                            <tr >
                                                <td>1</td>
                                                <td>C0001</td>
                                                <td>新人卡券</td>
                                                <td>200 </td>
                                                <td>12 </td>
                                                <td>21</td>
                                                <td>12</td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>2000</td>
                                            </tr>
                                            <tr >
                                                <td>1</td>
                                                <td>C0002</td>
                                                <td>新人卡券</td>
                                                <td>200 </td>
                                                <td>12 </td>
                                                <td>21</td>
                                                <td>12</td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>2000</td>
                                            </tr>
                                            <tr >
                                                <td>1</td>
                                                <td>C0003</td>
                                                <td>新人卡券</td>
                                                <td>200 </td>
                                                <td>12 </td>
                                                <td>21</td>
                                                <td>12</td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>2000</td>
                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>

                                    <!-- 底部-（分页部分）-->
                                    <div class="footer-size flex-justify-end">

                                        <ul class="pagination folat-right">
                                            <li class="page-item disabled">
                                                <span class="page-link">上一页</span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active" aria-current="page"><span class="page-link">2</span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">下一页</a>
                                            </li>
                                            <li class="page-item disabled">
                                                <a  class="page-link" disabled>共5445条</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>



<!-- 新增 修改：已审批的不能修改，可以作废   详情 -->
<div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="couponModalLabel">新增优惠券</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body height-overflow-380">
                <form>
                    <!--审核相关的需要调之前做过的组件，我这里就没重做-->
                    <div class="picture-opacity" style="left: -24px; top: 38px;position: absolute;z-index: 999;">
                        <!--同意-->
                        <img src="assets/img/chapter1.png" *ngIf="assetsInfo?.result?.assets_verify_status == 'yes'">
                        <!--拒绝-->
                        <img src="assets/img/chapter2.png" *ngIf="assetsInfo?.result?.assets_verify_status == 'no'">
                        <!--作废-->
                        <img src="assets/img/chapter4.png" *ngIf="assetsInfo?.result?.assets_verify_status == 'cancel'">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label >优惠券名称</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group col-md-6">
                            <label >优惠券标题</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group col-md-6">
                            <label >优惠券类型</label>
                            <select  class="form-control">
                                <option selected>满减</option>
                                <option>立减</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label >金额</label>
                            <input type="number" class="form-control" >
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="">满减</label>
                            <div class="input-group">
                                <input type="number" aria-label="First name" class="form-control" placeholder="满">
                                <input type="number" aria-label="Last name" class="form-control" placeholder="减">
                            </div>

                        </div>


                        <div class="form-group col-md-12">
                            <label >商品</label>
                            <div class="input-group">
                                <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                    <option selected>选择商品</option>
                                    <option>全部商品</option>
                                    <option>单品导入仪除外</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">保存</button>
                                </div>
                            </div>

                            <div class="bd-example">
                                <div class="d-flex flex-wrap bd-highlight checkbox-item">
                                    <div class="p-2 bd-highlight checkbox-list">全部商品<button type="button" class="close checkbox-close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button></div>
                                    <div class="p-2 bd-highlight checkbox-list">单品导入仪除外<button type="button" class="close checkbox-close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button></div>
                                    <div class="p-2 bd-highlight checkbox-list">单品导入仪除外<button type="button" class="close checkbox-close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button></div>

                                </div>
                            </div>

                        </div>

                        <div class="form-group col-md-6">
                            <label >领取条件</label>
                            <select  class="form-control">
                                <option selected>所有人</option>
                                <option>VIP以上</option>
                                <option>SVIP以上</option>
                                <option>钻卡以上</option>
                            </select>
                        </div>


                        <div class="form-group col-md-6">
                            <label >优惠券数量</label>
                            <input type="number" class="form-control" placeholder="数量"  >
                        </div>

                        <div class="form-group col-md-6">
                            <label >每人限领</label>
                            <input type="number" class="form-control" placeholder="数量"  >
                        </div>


                        <div class="form-group col-sm-6">
                            <label class="">有效期</label>
                            <div class="input-group">
                                <input type="date"  class="form-control" placeholder="开始时间">
                                <input type="date"  class="form-control" placeholder="结束时间">
                            </div>
                        </div>



                        <div class="form-group col-sm-12">
                            <div class="label ">审批人<a *ngIf="assetsInfo?.result?.assets_verify_status != 'no' && assetsInfo?.result?.assets_verify_status != 'yes' && assetsInfo?.result?.assets_verify_status != 'cancel'" class="txt-color-blue pd-10" (click)="showDetail('assign')">添加审批人</a></div>
                            <ul  class="avatars" *ngIf="approve_user">
                                <li *ngFor="let su of approve_user;let ind = index;">
                                    <a *ngIf="isDetail!='detail'" class="fa fa-times-circle picture-a" style="display:block;" (click)="removeUser(su.id,'assign')"></a>
                                    <a class="portrait-size" title="{{su.u_username}}">
                                        {{su.u_username}}
                                    </a>
                                    <div class="approval-arrow" *ngIf="ind < approve_user.length && ind != 0" >
                                        <img src="assets/img/icon/arrow.png" >
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="label ">抄送人<a *ngIf="assetsInfo?.result?.assets_verify_status != 'no' && assetsInfo?.result?.assets_verify_status != 'yes' && assetsInfo?.result?.assets_verify_status != 'cancel'" class="txt-color-blue pd-10" (click)="showDetail('follower')">添加抄送人</a><span class="txt-color-blueLight pd-10">(审批通过后，通知抄送人)</span></div>
                            <ul  class="avatars" *ngIf="follower_user">
                                <li *ngFor="let su1 of follower_user;let ind1 = index;">
                                    <a *ngIf="isDetail!='detail'" class="fa fa-times-circle picture-a" style="display:block;" (click)="removeUser(su1.id,'follower')"></a>
                                    <a class="portrait-size" title="{{su1.u_username}}">
                                        {{su1.u_username}}
                                    </a>
                                </li>
                            </ul>
                        </div>


                    </div>






                </form>
            </div>


            <div class="modal-footer">
                <div *ngIf="isPermission(menu_id,'verify')">
                    <button type="button" class="btn btn-primary ml-2"  (click)="showDetail('transfer')" *ngIf="uid == assetsInfo?.result?.assets_verify_status">
                        转交
                    </button>
                    <button type="button" class="btn btn-primary ml-2" (click)="showModal('urge','urge','add')" *ngIf="uid == assetsInfo?.result?.u_id && assetsInfo?.result?.assets_verify_status != 'yes' && assetsInfo?.result?.assets_verify_status != 'no' && assetsInfo?.result?.assets_verify_status != 'cancel'">
                        催办
                    </button>
                    <button type="button" class="btn btn-primary ml-2" (click)="showModal('operation','back_cancel','add')" *ngIf="uid == assetsInfo?.result?.u_id && assetsInfo?.result?.assets_verify_status == 'cancel'">
                        弃废
                    </button>
                    <button type="button" class="btn btn-warning ml-2"  (click)="showModal('operation','cancel','add')" *ngIf="uid == assetsInfo?.result?.u_id && assetsInfo?.result?.assets_verify_status != 'yes' && assetsInfo?.result?.assets_verify_status != 'no' && assetsInfo?.result?.assets_verify_status != 'cancel'">
                        作废
                    </button>
                    <button type="button" class="btn btn-warning ml-2" (click)="showModal('operation','operation','add')" *ngIf="uid == assetsInfo?.result?.assets_verify_status">
                        审核
                    </button>
                </div>
                <button type="submit" class="btn btn-primary ml-2" >保存</button>

                <button  class="btn btn-success ml-2" type="button" >保存并新增</button>

                <button type="button" class="btn btn-default ml-2" (click)="clear_('add')">返回</button>
            </div>

        </div>
    </div>
</div>




<!-- 发放 -->
<div class="modal fade" id="grantModal" tabindex="-1" role="dialog" aria-labelledby="grantModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="grantModalLabel">发放</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="">

                <div class="text-align-center" style="display: flex;flex-flow: column;justify-content: center;align-items: center;padding:40px 0">
                    <h3>满2000减200</h3>
                    <h3>有效期：2020.07.01至2020.07.30</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
