<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
                    <header>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">文章列表</a>
                            </div>
                        </nav>
                    </header>
                    <div>
                        <div class="widget-body no-padding" >
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" >
                                    <article>
                                        <div class="navbar" style="width:100%;">
                                            <form  class="navbar-form" novalidate="" role="search" >
                                                <div class="btn-group dropdown">
                                                    <span class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">筛选-{{checkTypeName}}</span>
                                                    <div class="dropdown-menu">
                                                        <span class="dropdown-item" (click)="checkType(0,'全部')">全部</span>
                                                        <div *ngFor="let t of typeList;let inde = index;">
                                                            <div class="dropdown-divider" *ngIf="inde%4 == 0"></div>
                                                            <span class="dropdown-item" (click)="checkType(t.id,t.name)">{{t.name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btn-group" *ngIf="isPermission(menu_id,'add')">
                                                    <button type="button" class="btn btn-primary" (click)="lgModal.show();"><span class="fa-fw fa fa-plus  mr-5"></span>添加</button>
                                                </div>
                                                <div class="btn-group" *ngIf="isPermission(menu_id,'edit')">
                                                    <button type="button" [ngClass]="{'btn btn-warning':true,'not-click':editStatusUserOrderId == 0}" (click)="getPostInfo()"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>
                                                </div>
                                                <div class="btn-group" *ngIf="isPermission(menu_id,'delete')" >
                                                    <button type="button" [ngClass]="{'btn btn-danger':true,'not-click':editStatusUserOrderId == 0}" (click)="deletePost()"><span class="fa-fw fa  fa-trash-o mr-5"></span>删除</button>
                                                </div>
                                                <div class="btn-group" *ngIf="isPermission(menu_id,'detail')">
                                                    <button type="button" [ngClass]="{'btn btn-success':true,'not-click':editStatusUserOrderId == 0}" (click)="getPostInfo()"><span class="fa-fw fa fa-list-alt mr-5"></span>详情</button>
                                                </div>
                                            </form>
                                            <!--<form>-->
                                                <!--<div class="btn-group">-->
                                                    <!--<input type="text"  class="form-control mr-sm-2" type="search" placeholder="输入关键词" aria-label="Search">-->
                                                <!--</div>-->
                                                <!--<div class="btn-group">-->
                                                    <!--<button type="submit" class="btn btn-outline-success my-2 my-sm-0" >搜索</button>-->
                                                <!--</div>-->
                                                <!--&lt;!&ndash;<input class="form-control mr-sm-2" type="search" placeholder="输入关键词" aria-label="Search">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>&ndash;&gt;-->
                                            <!--</form>-->
                                        </div>
                                    </article>
                                    <div  class="">
                                        <table class="table table-striped smart-form table-height-20 ">
                                            <thead class="">
                                            <tr>
                                                <th>编号</th>
                                                <th>标题 </th>
                                                <th>分类</th>
                                                <th>简介</th>
                                                <th>发布时间</th>
                                                <th>是否有效</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- class="table-color"-->
                                            <tr *ngFor="let pl of postList?.result?.data;let ind = index;" (click)="isStatusShow(pl.post_id)" [ngClass]="{'table-color':editId == pl.post_id}">
                                                <td>{{ ind }}</td>
                                                <td>{{ pl.title }}</td>
                                                <td>
                                                <span [ngSwitch]="pl.type">
                                                    <span class="label-normal" *ngSwitchCase="1">帮助与客服</span>
                                                    <span class="label-blue" *ngSwitchCase="2">成长课堂</span>
                                                    <span class="label-full" *ngSwitchCase="3">产品百科</span>
                                                    <span class="label-full" *ngSwitchCase="4">规则中心</span>
                                                    <span class="label-full" *ngSwitchCase="5">政策中心</span>
                                                    <span class="label-full" *ngSwitchCase="6">系统通知</span>
                                                    <span class="label-full" *ngSwitchCase="7">冻龄智美通知</span>
                                                    <span class="label-full" *ngSwitchCase="8">激励中心</span>
                                                    <span class="label-full" *ngSwitchCase="9">app商城广告</span>
                                                    <span class="label-full" *ngSwitchCase="10">工作台腰部广告</span>
                                                    <span class="label-full" *ngSwitchCase="11">会员服务协议</span>
                                                    <span class="label-unknown" *ngSwitchDefault>未知</span>
                                                </span>
                                                </td>
                                                <td>{{ pl.introduction }}</td>
                                                <td>{{ pl.created_at }}</td>
                                                <td>
                                                <span [ngSwitch]="pl.state">
                                                    <span class="label-normal" *ngSwitchCase="1">是</span>
                                                    <span class="label-blue" *ngSwitchCase="2">否</span>
                                                    <span class="label-unknown" *ngSwitchDefault>未知</span>
                                                </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- 底部-（分页部分）-->
                                    <div class="footer-size flex-justify-end">
                                        <ul class="pagination" *ngIf="postList" >
                                            <li *ngFor="let p of postList?.result?.page" class="{{p.class}}">
                                                <a class="page-link" (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                                <a class="page-link" *ngIf="p.method==''">{{p.text}}</a>
                                            </li>
                                            <li class="page-item disabled">
                                                <a  class="page-link" disabled>共{{postList.result?.total}}条</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" >

                                </div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>

<!-- 上传文章 -->
<div bsModal #lgModal="bs-modal" class="modal fade bd-example-modal-xl" id="postScrollable" tabindex="-1" role="dialog" aria-labelledby="postScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--添加、修改、详情-->
                <h5 class="modal-title" *ngIf="editId == 0">添加</h5>
                <h5 class="modal-title" *ngIf="editId != 0">修改</h5>
                <button type="button" class="close" (click)="lgModal.hide()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body height-overflow-380">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label txt-color-blue">分类<span class="asterisk-color">*</span></label>
                        <div class="col-sm-10">
                            <select  class="form-control" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                                <option value="0">--请选择分类--</option>
                                <option *ngFor="let tl of typeList" value="{{ tl.id }}">{{tl.name}}</option>
                            </select>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group row" *ngIf="type == 8">
                        <label class="col-sm-2 col-form-label txt-color-blue">主题<span class="asterisk-color">*</span></label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="主题" name="theme" [(ngModel)]="theme" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row " *ngIf="type == 8">
                        <label class="col-sm-2 col-form-label txt-color-blue">开始时间<span class="asterisk-color">*</span></label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="开始时间" name="startDate" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row " *ngIf="type == 8">
                        <label class="col-sm-2 col-form-label txt-color-blue">结束时间<span class="asterisk-color">*</span></label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="结束时间" name="endDate" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label class="col-sm-2 col-form-label txt-color-blue">标题<span class="asterisk-color">*</span></label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="标题" name="title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label class="col-sm-2 col-form-label txt-color-blue">简介<span class="asterisk-color">*</span></label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="2" name="introduction" [(ngModel)]="introduction" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label class="col-sm-2 col-form-label ">跳转地址</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="链接地址" name="href" [(ngModel)]="href" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label class="col-sm-2 col-form-label ">标签</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="标签" name="tag" [(ngModel)]="tag" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </form>
                <div class="form-group row" *ngIf="type == 9 || type == 10">
                    <div class="col-sm-6">
                        <!--col-sm-12-->
                        <div class="card">
                            <!--<img  class="" style="width:100%;padding:10px;" src="assets/img/news/news4.jpg" >-->
                            <img-cropper style="width:100%;padding:10px;" #avatarCropper [image]="data1" [settings]="avatarSettings" (onCrop)="cropped($event)"></img-cropper>
                            <div class="card-body">
                                <h5 class="card-title">广告图片</h5>
                                <p class="card-text">仅支持JPG、GIF、PNG图片文件，且小于1M</p>
                                <div class="" style="background:#f2f2f2;padding:8px;margin-bottom:10px;">
                                    <input type="file" c-img-cropper-select [cropper]="avatarCropper">
                                </div>
                                <button type="button" class="btn btn-primary" (click)="postFile(1)" >图片上传</button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        <div class="text-align-center">
                            <span class="user-image" *ngIf="imageAd">
                                <img [src]="imageAd" style="width: 180px; height: 180px;">
                            </span>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row" *ngIf="type == 9 || type == 10">
                    <label class="col-sm-2 col-form-label">排序</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" placeholder="请输入顺序" name="weight" [(ngModel)]="weight" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row" *ngIf="type != 9 && type != 10">
                    <div class="col-sm-6">
                        <div class="card">
                            <!--<img  class="" style="width:100%;padding:10px;" src="assets/img/news/news4.jpg" >text-align:center;padding-top:1.25rem;-->
                            <img-cropper style="width:100%;padding:10px;" #avatarCropper2 [image]="data2" [settings]="avatarSettings2" (onCrop)="cropped($event)"></img-cropper>
                            <div class="card-body" style="padding: 0 1.25rem 1.25rem;">
                                <h5 class="card-title">封面图片</h5>
                                <p class="card-text">仅支持JPG、GIF、PNG图片文件，且小于1M</p>
                                <div class="" style="background:#f2f2f2;padding:8px;margin-bottom:10px;">
                                    <input id="image-input"  type="file" c-img-cropper-select [cropper]="avatarCropper2">
                                </div>
                                <button type="button" class="btn btn-primary" (click)="postFile(2)" >图片上传</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="text-align-center">
                            <span class="user-image" *ngIf="imageHead">
                                <img [src]="imageHead" style="width: 180px; height: 180px;">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row" *ngIf="type != 9 && type != 10">
                    <label class="col-sm-2 col-form-label">正文内容</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" name="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label ">是否有效</label>
                    <div class="col-sm-10">
                        <ng-container>
                            <input type="radio" name="state" [(ngModel)]="state" [value]="1" [checked]="state==1" (click)="onCheckState(1)"> 是
                            <input type="radio" name="state" [(ngModel)]="state" [value]="2" [checked]="state==2" (click)="onCheckState(2)"> 否
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  (click)="submitPost()">保存</button>
                <button type="button" class="btn btn-secondary" (click)="lgModal.hide()">取消</button>
            </div>
        </div>
    </div>
</div>

<!--删除-->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>
