<div id="content">

    <div class="row">
        <div class="col-sm-12">
            <div class="text-overflow-y" >
                <P class="alert alert-info">文章发布</P>
                <table class="table table-striped table-forum">
                    <tbody>
                    <tr>
                        <td class="width-120">*分类:</td>
                        <td class="">
                            <select  class="form-control" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                                <option value="0">--请选择分类--</option>
                                <option *ngFor="let tl of typeList" value="{{ tl.id }}">{{tl.name}}</option>
                            </select>
                        </td>
                    </tr>

                    <tr *ngIf="type == 8">
                        <td class="width-120">*主题:</td>
                        <td class="">
                            <input class="form-control" type="text" placeholder="主题" name="theme" [(ngModel)]="theme" [ngModelOptions]="{standalone: true}">
                        </td>
                    </tr>
                    <tr *ngIf="type == 8">
                        <td class="width-120">*开始时间:</td>
                        <td class="">
                            <input class="form-control" type="text" placeholder="开始时间" name="startDate" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}">
                        </td>
                    </tr>
                    <tr *ngIf="type == 8">
                        <td class="width-120">*结束时间:</td>
                        <td class="">
                            <input class="form-control" type="text" placeholder="结束时间" name="endDate" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}">
                        </td>
                    </tr>
                    <tr>
                        <td class="width-120">*标题:</td>
                        <td class="">
                            <input class="form-control" type="text" placeholder="标题" name="title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
                        </td>
                    </tr>
                    <tr>
                        <td class="width-120">*简介:</td>
                        <td class="">
                            <textarea class="form-control" rows="2" name="introduction" [(ngModel)]="introduction" [ngModelOptions]="{standalone: true}"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="width-120">跳转地址:</td>
                        <td class="">
                            <input class="form-control" type="text" placeholder="链接地址" name="href" [(ngModel)]="href" [ngModelOptions]="{standalone: true}">
                        </td>
                    </tr>
                    <tr>
                        <td class="width-120">标签:</td>
                        <td class="">
                            <input class="form-control" type="text" placeholder="标签" name="tag" [(ngModel)]="tag" [ngModelOptions]="{standalone: true}">
                        </td>
                    </tr>
                    <tr>
                        <td class="width-120">大图上传：</td>
                        <td class="">
                            <div class="form-group ">
                                <div class="c-content-inner">
                                    <img-cropper #avatarCropper [image]="data1" [settings]="avatarSettings" (onCrop)="cropped($event)"></img-cropper>
                                    <div  class="c-file-upload">
                                        <button class="btn btn-primary ">选择图片</button>
                                        <input id="image-input" class="btn btn-primary " type="file" c-img-cropper-select [cropper]="avatarCropper">
                                    </div>
                                </div>
                                <p class="help-block">
                                    仅支持JPG、GIF、PNG图片文件，且小于3M
                                </p>
                            </div>

                            <button type="button" class="btn btn-primary ml-2" (click)="postFile(1)">确定</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="width-120">小图上传：</td>
                        <td class="">
                            <div class="form-group ">
                                <div class="c-content-inner">
                                    <img-cropper #avatarCropper2 [image]="data2" [settings]="avatarSettings2" (onCrop)="cropped($event)"></img-cropper>
                                    <div  class="c-file-upload">
                                        <button class="btn btn-primary ">选择图片</button>
                                        <input id="image-input2" class="btn btn-primary " type="file" c-img-cropper-select [cropper]="avatarCropper2">
                                    </div>
                                </div>
                                <p class="help-block">
                                    仅支持JPG、GIF、PNG图片文件，且小于1M
                                </p>
                            </div>

                            <button type="button" class="btn btn-primary ml-2" (click)="postFile(2)">确定</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="width-120">正文内容:</td>
                        <td class="">
                            <textarea class="form-control" rows="2" name="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="width-120">是否有效:</td>
                        <td class="">
                            <ng-container>
                                <input type="radio" name="state" [(ngModel)]="state" [value]="1" (click)="onCheckState(1)"> 是
                                <input type="radio" name="state" [(ngModel)]="state" [value]="2" (click)="onCheckState(2)"> 否
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td collapse="2">
                            <button type="button" class="btn btn-primary ml-2" (click)="submitPost()">确定</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
